[2021-12-31 20:58] #336 closed

[2021-12-31 21:00] lreading opened #338 "Version 2.0 - Threat Model Edit Cancel/Reload"
**Describe what problem your feature request solves**
Cancel and Reload buttons are not appropriately implemented in the v2 branch.

**Describe the solution you'd like**
When a user clicks cancel _or_ reload, the threat model should be reloaded from its original source.  The current implementation keeps the active changes in the store.  Effectively, we want to _discard_ local changes when these bu

[2021-12-31 21:09] lreading commented on #56
We're currently working on version 2.0 (due in 2022) which is a rewrite, and implements zoom, pan, scrolling, etc.  We changed the layout for the graph edit view so that the properties and threats are under the graph.  This gives the graph a bit more real estate, and we are working to ensure the graph size adjusts with the screen/resolution.

Here's a screenshot with the latest work in progress: h

[2021-12-31 22:08] lreading opened #339 "Version 2.0 - Report Feature"
**Describe what problem your feature request solves**
Version 2.0 should have a reporting feature with similar outputs to version 1.x

**Describe the solution you'd like**
- The report button generates a report
- Checkbox options for:
  - Show out of scope elements
  - Show mitigated threats
  - Include threat model diagrams
- Buttons at top/bottom (maybe sticky in the top-right for usability?)

[2021-12-31 22:14] lreading opened #340 "v2 - Implement ThreatModelEdit Save"
**Describe what problem your feature request solves**
The "save" button on the high-level threat model edit view is currently a no-op.

**Describe the solution you'd like**
Implement the "save" functionality
Github Auth - Save to repository (implemented in backend)
Local Session - Do we download a copy?  We will need to figure out the best way to do this with the electron wrapper in the future.

*

[2021-12-31 22:17] lreading commented on #338
Cancel / Reload now attempts to detect if there were any changes. If there are changes, it prompts the user before continuing.
![Screenshot from 2021-12-31 17-16-08](https://user-images.githubusercontent.com/5851985/147840078-f93aef21-c549-464f-8472-862990ccc445.png)

The ThreatModelEdit is pretty large and may need a refactor.  Additionally, there is almost no testing around this view.  Before op

[2022-01-01 03:51] #338 closed

[2022-01-01 07:27] lreading commented on #339
I think an executive summary would be nice on the report as well.  Maybe just some high-level numbers, such as identified threats, mitigated threats, unmitigated threats, etc.  Should I open a new issue for this or should I just take a swing at it while implementing the v2 reporting feature?

[2022-01-01 16:51] jgadsden commented on #324
We can close this issue now, if that is OK with @huwjeffries ?

[2022-01-01 18:37] jgadsden commented on #339
If you are implementing the reporting feature, then the executive summary can be part of the implementation. Version 2.0 will be perceived as different, so we can add an executive summary without surprising people.
Having said that if the executive summary proves a problem then pull it out as a feature on its own.

[2022-01-01 19:27] lreading opened #342 "v2 - Report PDF in Desktop"
**Describe what problem your feature request solves**
Implement the create PDF functionality in v2

**Describe the solution you'd like**
When viewing the report for a threat model in the _desktop_ application, a "PDF" button show show that exports the report as a PDF.

**Additional context**
In v1, this feature is not available in the web version.  I did some research and most of the libraries tha

[2022-01-01 21:41] huwjeffries commented on #324
Yes, please go ahead and close it.

[2022-01-02 01:58] #324 closed

[2022-01-02 07:45] lreading commented on #339
This has turned out to be a slightly larger chunk of work than I originally had hoped.  Here's my current plan:
- The report page will show an HTML-based report (for screen sharing, projectors, etc) and will look mostly the same as v1
- The report page will have a button to a printer-friendly version of the report.  This is an entirely separate view that is more optimized for print (less space, ta

[2022-01-02 08:40] jgadsden commented on #339
Looks good to me, just a few suggestions:
* I love Cupcake, and the mascot is one of the things that drew me to this project, but up to now we have left her off the report. I guess it was because these reports get sent to all sorts of external standards bodies, and we did not want to explain who she was each time ... Cupcake in or out, both fine with me
* The title sheet is a big improvement
* I l

[2022-01-02 18:48] lreading commented on #339
Would we want to make a setting for hiding Cupcake?  I think it's a good branding opportunity and makes it very clear what software was used to generate the threat model/report, however I understand that some people may not appreciate the branding on their reports.  Happy to remove it all together if that is what's best though.

Agreed.  We probably want to reduce the amount of paper as much as po

[2022-01-03 10:33] lreading opened #343 "modify Z-index of Graph Elements"
**Describe what problem your feature request solves**
Graph elements can overlap, especially with the introduction of the box/machine style trust boundaries.  When the boundary is above the other elements it "contains", the other elements are not intractable.

**Describe the solution you'd like**
- Buttons to bring forward/send back specific elements
- Have boundaries have a lower default z-index

[2022-01-03 15:30] micheelengronne opened #344 "automate further for CI/CD (extract from code and results from tests)"
**Describe what problem your feature request solves**

Currently, Threat Dragon is hard to automate in a CI pipeline and is not well integrated with the code. many manual operations are necessary to use it.

**Describe the solution you'd like**

I would like to be able to extract a Threat-dragon diagram from code (like [threatspec](https://threatspec.org/) does) and automatically check if the thre

[2022-01-03 19:20] jgadsden opened #345 "support HTTPS"
**Describe what problem your feature request solves**
At present Threat Dragon uses HTTP, we can enable HTTPS via PROTOCOL env var but it does not seem to work correctly

**Describe the solution you'd like**
When running Threat Dragon web application, we have URL `http://localhost:8080/#/dashboard` but URL `https://localhost:8080/#/dashboard` gives "This site can’t provide a secure connection" res

[2022-01-03 20:31] lreading commented on #345
The `PROTOCOL` env var is only applied on the server, and doesn't have any configurable certificates.  It's currently set up more for the docker image running behind a reverse proxy with SSL termination.

This can/should be improved for sure, as not everyone installing the web version will opt for a docker installation. :smile:

With that said, when running locally, you're using the vue cli to run

[2022-01-03 20:32] jgadsden opened #346 "Element name can be difficult to grab"
**Describe what problem your feature request solves**
The grab area of a diagram element is the text for its name. If this is short (or empty) then it is difficult to grab/select the element

**Describe the solution you'd like**
If possible the grab/select area of the element could be fixed, something like 75% of height and width

**Additional context**
To reproduce, select an element and then mak

[2022-01-03 21:35] jgadsden commented on #345
Ah, I may have mangled docs/development/env.md - apologies

[2022-01-03 21:37] lreading commented on #345
It probably isn't super clear in the docs. :) That was more of a deployment detail when I was setting up the Heroku deployment... I 100% agree with the issue, to be clear! I have it set up to suit my specific deployment needs, as opposed to a more generic/robust configuration (which is what we'll likely want).

[2022-01-06 11:20] jgadsden commented on #330
I am working on this now @taoyiyang1 , so should have a solution soon  in the form of a pull request

[2022-01-06 11:53] jgadsden commented on #302
Closing this issue, because version 2.0 handles the model type selection in a different way

We are no longer actively developing for version 1.6.x, and so this can now be closed (unless @andrerferreira you disagree)

[2022-01-06 11:53] #302 closed

[2022-01-06 12:06] jgadsden opened #350 "Add internationalisation for China"
**Describe what problem your feature request solves**
We have various language translations available for version 2.0 Threat Dragon. It would be good to have a translation for China as well

**Describe the solution you'd like**
Provide the translation, similar to the other translations under `td.vue/src/i18n/*.js`, and then fix up `td.vue/src/i18n/index.js` to read something like:

[code]

**Addit

[2022-01-06 12:06] jgadsden commented on #350
@taoyiyang1 is this something you could take on?

[2022-01-06 13:29] jgadsden commented on #344
Hello @micheelengronne
Good suggestions. We are now actively developing for Threat Dragon version 2.0, and it is intended to have an API for the threat dragon server. We thought about this for version 1.x but version 1.6.x is the last of this sequence, and we are moving all our effort away from version 1.x and on to version 2.0

V2 development branch is here: https://github.com/OWASP/threat-dragon

[2022-01-06 14:14] micheelengronne commented on #88
I am in favor of swagger to document it. Many tools exist to extract the API structure from swagger and integrate it in other systems.

For auth/auth I am in favor of Oauth2 and OIDC. It would make it easy to integrate in a larger CI system (like Gitlab, Gitea, etc...) and access their CI pipelines.

For the functions, I see at least 2 main ones :
- push a source code and get back a threat-dragon

[2022-01-06 14:28] #328 closed

[2022-01-06 14:28] #330 closed

[2022-01-06 14:35] taoyiyang1 commented on #350
@jgadsden Of course, I think it's great

[2022-01-06 16:40] jgadsden commented on #350
Thanks @taoyiyang1 , much appreciated

[2022-01-07 00:51] taoyiyang1 commented on #350
hello @jgadsden
I don’t seem to be able to create a branch, which branch should I operate on

[2022-01-07 06:12] jgadsden commented on #350
That is odd - it must be to do with github roles. This repo is part of the OWASP github organisation and so the permissions are role based. I can look into this, but to get it going I have created branch 'v2/i18n-cn' for you @taoyiyang1

[2022-01-07 06:17] taoyiyang1 commented on #350
ok , thank

[2022-01-07 06:24] taoyiyang1 commented on #350
@jgadsden
The "v2/i18n-cn" branch does not seem to be created based on the v2/development branch

[2022-01-07 07:32] jgadsden commented on #350
Oops, sorry @taoyiyang1 , can you try it now?

[2022-01-07 07:39] taoyiyang1 commented on #350
@jgadsden  No problem

[2022-01-07 11:35] ShubhamPalriwala commented on #296
Yeah peace! I'll look for some other issue to work on! Thank you for all the guidance and help here everyone!

[2022-01-07 11:37] jgadsden commented on #296
@ShubhamPalriwala there is a lot of development for Threat Dragon version 2.0, if any of it interests you?
https://github.com/OWASP/threat-dragon/projects/4

[2022-01-07 11:37] #296 closed

[2022-01-07 11:54] ShubhamPalriwala commented on #296
Hey thank you. There seems a lot of opportunities here. Anything that can be a good starting point for me according to you? Would love to start

[2022-01-07 12:10] jgadsden commented on #296
Well, depends on how poly-lingual you are ... but there is the internationalisation, similar to one that @taoyiyang1 is working on: https://github.com/OWASP/threat-dragon/issues/350

and be sure to work off V2 development, I made a mistake just  now and branched off main instead of branching off :
https://github.com/OWASP/threat-dragon/tree/v2-development

also if you are familiar with electron th

[2022-01-07 12:13] ShubhamPalriwala commented on #334
Hey,  I'd like to take this up! Would primarily follow the article mentioned as I'm new to electron but would be open to incorporating any changes suggested

[2022-01-07 16:15] jgadsden commented on #334
Yes, sure, thanks for your help @ShubhamPalriwala - I can assign it to both of us as I am sure we can help each other

[2022-01-08 12:24] ShubhamPalriwala commented on #334
Hey @jgadsden, so should we remove the entire existing desktop codebase and just have a simple wrapper around our web-app in our main.js inside our td.desktop?

[2022-01-08 18:30] jgadsden commented on #334
Hello @ShubhamPalriwala , yes, that makes sense to me. What might be good is to move the td.desktop to another directory so that we can easily refer to it, and when all is working remove it then. Alls is good though, so I will go with what  you decide

[2022-01-08 19:33] lreading commented on #296
I'm hoping to go through version 2 next week and create small, workable issues for the remaining items.  They will all be (labeled as version-2.0)]https://github.com/OWASP/threat-dragon/issues?q=is%3Aissue+is%3Aopen+label%3Aversion-2.0], so if you have the time/desire to grab one of them, all help is appreciated!

If you need any help, context or anything else, feel free to open an issue, tag Jon

[2022-01-08 21:37] #339 closed

[2022-01-10 13:13] ShubhamPalriwala commented on #334
@jgadsden, I'm loading the following URL for our desktop application: `http://threatdragon.org/`
This is fine right or will we be using another URL?

[2022-01-10 13:49] jgadsden commented on #334
We do not have direct control of http://threatdragon.org/ , so threatdragon.com is probably the better domain to use ... this is used to showcase the latest Threat Dragon web app and documentation

I will have a look at your code on the branch this evening, good to see progress so soon @ShubhamPalriwala !

[2022-01-10 20:14] lreading commented on #334
From a discussion in Slack (just for visibility for others who may see this): The goal is to wrap `td.vue` in electron as opposed to loading a specific URL.  The vue site should be able to operate independently of any server.  Threatdragon.com is running on a very small Heroku instance, and might not handle the load well.  Also, that is used as a staging area and is published each time there is a

[2022-01-10 21:35] jgadsden commented on #334
Hello @ShubhamPalriwala , the next thing to do is to make an electron wrapper for the td.vue web application. The td.desktop directory can then be retired, along with `td.desktop/main.js`
I will probably look at these next, for guidance:
https://stricker.digital/posts/electron-with-vue-and-webpack/
and
https://blog.logrocket.com/building-app-electron-vue/
and Vue seems to work well with electron

[2022-01-10 21:46] jgadsden commented on #334
Agreed @lreading , I should have made it clear that there should be no need to use either threatdragon.org or threatdragon.com
The intention is to create a new file (probably in the td.vue directory) that is the electron window builder. My guess is that we will need other source  files to provide the functionality for the desktop application, similar to that provided by td.server for the web appli

[2022-01-11 19:32] kostasadriano opened #353 "add Zone of Trust property"
**Describe what problem your feature request solves**
In Rapid Threat Model Prototyping, you have to define a zone of trust level for each element/node. This property can then be used by the threat engine to suggest STRIDE threats, or be used manually by the user. (eg DoS from zone 0 to any other zone, Information Disclosure form higher trust zones to lower trust zones, etc).

**Describe the solut

[2022-01-12 20:26] jgadsden opened #355 "Version 2.0: npm start fails for Windows"
**Describe the bug**
After installing Threat Dragon using `pnpm install` , when running start command `npm start` the commands fail. This only happens on Windows platforms

**Expected behaviour**
Command `npm start`  should start front-end and server not only for Linux/MacOS but also for Windows

**Environment**
 - Version: 2.0
 - Platform:(Web App
 - OS: Windows
 - Browser: any of chrome, firefox

[2022-01-12 20:26] jgadsden commented on #355
This bug was first reported by @taoyiyang1

[2022-01-16 20:30] jgadsden commented on #355
This has a documentation fix in PR #354

[2022-01-16 20:30] #355 closed

[2022-01-16 20:31] jgadsden commented on #350
@taoyiyang1 has merged PR  #351 which satisfies this issue

[2022-01-16 20:31] #350 closed

[2022-01-21 22:54] adi611 commented on #346
Please assign me this issue.

[2022-01-22 07:26] lreading commented on #346
All yours, @adi611 ! Thanks for taking it!

[2022-01-22 23:01] adi611 commented on #346
@lreading I am not having the above mentioned issue while using Threat Dragon.
![Animation2](https://user-images.githubusercontent.com/50960175/150658085-48d7524a-0715-47c7-8956-ac52875a643e.gif)

[2022-01-23 06:17] jgadsden commented on #346
Hello @adi611 - I should have emphasised that this issue is for Threat Dragon version 2.0, and not version 1.x.
You can check out version 2.0 from the v2-development branch:
https://github.com/OWASP/threat-dragon/tree/v2-development

The install and start instructions are different, especially if you are on a Windows platform:
https://github.com/OWASP/threat-dragon/tree/v2-development#readme

Than

[2022-01-23 06:21] jgadsden commented on #353
Labelling this as version 2.0 because version 1.6 is the last version for functional development on versions 1.x

[2022-01-23 06:22] jgadsden commented on #345
Thanks for looking at this - we can close as a non-issue

[2022-01-23 06:22] #345 closed

[2022-01-23 06:22] jgadsden commented on #344
Labelling this as version 2.0 because version 1.6 is the last version for functional development on versions 1.x

[2022-01-23 06:24] jgadsden commented on #297
We can close this now - many thanks for the Threat Dragon community pulling together on this one

[2022-01-23 06:24] #297 closed

[2022-01-27 11:32] romandolinsky opened #356 "1.6.0 Windows Uninstall file name"
**Describe the bug**
After installing threat-dragon using silence arg /S /D=" path to install ", Threat-dragon is installed in the correct position, uninstall file name is "Uninstall OWASP-Threat-Dragon.exe"

**Expected behaviour**
Uninstall file can be "Uninstall-OWASP-Threat-Dragon.exe".  Uninstall file cannot contend white space.

**Environment**
 - Version: 1.6.0
 - Platform:  Desktop App
 - O

[2022-01-27 11:38] jgadsden commented on #356
Thanks @romandolinsky - we should be able to correct this in the pipeline. It will also be an issue for our new version 2.0

[2022-01-30 11:34] storkinsj commented on #123
I am very sorry for the delay here; I was not happy with the code.
Previously: I had hard coded assumptions for our org and for devops, column specific.
I have refactored and cleaned up the code to use key-value pairs for the columns, which can now easily be reordered.
If a column value is "Tags" (Azure Devops uses this) or "Labels" (Jira likes this one) I'll add the STRIDE keyword to any other ta

[2022-01-31 08:13] jgadsden commented on #123
Hello @storkinsj - apologies, this is my mistake when I was assigning roles to the contributors; as part of the OWASP organisation github area.
If you try again you should be OK. Active development is now taking place on v2-development branch rather than main. Did you want to branch off this branch for your changes?
https://github.com/OWASP/threat-dragon/tree/v2-development

[2022-01-31 09:28] storkinsj commented on #123
Thank you-
   I think it's up to you. Some factors:
   -The tool could conceivably break if the format changes dramtically; however, my thinking is you'll try to stay backward compatible with old dragon models etc.
   -The tool is immediately useful and some are asking for it. Of course checking into branch, it would still be  available.

   What do you think?

[2022-01-31 10:11] jgadsden commented on #123
OK - @storkinsj you should have received an invite from github via email, did you want to accept it? You will then have the required permissions for https://github.com/OWASP/threat-dragon.git

[2022-01-31 12:54] storkinsj commented on #123
Hi,
    I [created this PR from my new "feature branch" into main](https://github.com/OWASP/threat-dragon/pull/359). All 4 checks passed. If you would like to do a review before merging Please do so. Thank you for the opportunity to contribute.

[2022-02-01 23:30] #123 closed

[2022-02-02 02:19] lreading commented on #346
The vue.js code is in the `td.vue` directory.  Version 2 is using antv/x6 as the drawing engine, which has some native Vue bindings.  Most of the glue-code for getting x6 into the threat dragon entities lives here: https://github.com/OWASP/threat-dragon/tree/v2-development/td.vue/src/service/x6

I don't know off the top of my head how to implement this, so unfortunately that's all I can offer at t

[2022-02-02 06:20] adi611 commented on #346
Thanks for helping.

[2022-02-04 16:33] saurabhlime opened #361 "MITRE Att&ck integration with STRIDE threats"
Describe what problem your feature request solves:
Currently the tool does a good job for decomposing the architecture and applying threats according to the STRIDE framework. This still leaves some gaps to determine the cybersecurity requirements that the process needs to adhere to remediate identified threats.

Describe the solution you'd like:
The solution I am proposing is that we can create an

[2022-02-05 12:59] ShubhamPalriwala commented on #334
So I researched for a while andI found a great vue package that solves the exact problem that we are tackling.
Will configure it acc to us and open a PR for the same soon!

[2022-02-06 11:33] ShubhamPalriwala commented on #130
@jgadsden @lreading Are we planning to use some npm package and solve this issue? Or are we thinking of something else here?

[2022-02-06 19:18] jgadsden commented on #130
Agreed @ShubhamPalriwala , it would be using a package to do this rather than writing anything ourselves - and ideally work with the I18N

[2022-02-06 22:04] lreading commented on #130
My (personal) preference is to only use packages for things that are non-trivial to create/implement.  That said, a spell-checker sounds like a nightmare to try to write. :grin:  I'm 100% behind finding a good package, and as Jon mentioned, ideally one that plays nicely with internationalization.

[2022-02-07 00:27] storkinsj commented on #130
I think a spell checker may not be a good idea.

Most dictionaries don't include tech terms. If you want to write this, it will of course bloat the size (unless it pulls it from the cloud), and you'll have to create an entire dictionary of tech words like firewall, sha1, cipher suite (not sweet !) ... etc. Try dictating the elements of your threat model into siri just to see what you get.

If you

[2022-02-07 07:07] jgadsden commented on #130
I _think_ there are spell checkers and spell checkers ... ideally there is one that ignores stuff it really has no idea about, but checks obvious attempts at normal english. I guess that is a spell helper :)

[2022-02-07 18:15] lreading commented on #130
I think the desire for a spell-checker is most needed in the description/mitigation fields, where most users would be writing plain sentences with only a bit of jargon.  I think even if the spell-checker is picking up on tech terms that aren't recognized (similar to how chrome or notepad++ does), it would still be an improvement and aligns with what most people are already used to.

I don't agree

[2022-02-07 19:10] jgadsden commented on #130
We may get the chromium spellchecker by default with electron:
https://www.electronjs.org/docs/latest/tutorial/spellchecker

[2022-02-07 19:12] jgadsden commented on #225
It may be easiest  to use electron's auto-updater:
https://www.electronjs.org/docs/latest/tutorial/updates

[2022-02-07 19:21] jgadsden commented on #139
Issue #187 and pull request #310 satisfy this issue - so closing

[2022-02-07 19:22] jgadsden commented on #187
Pull request #310 satisfies this issue - so closing

[2022-02-07 19:23] #139 closed

[2022-02-07 20:55] ShubhamPalriwala commented on #130
As per the discussion, I agree with the point that the chromium spellchecker that comes with electron will be a good start to solving this issue.
We can later work on a full-fledged dictionary that has all the words that are usually used by the users.

[2022-02-08 00:42] storkinsj commented on #130
One more comment on the spell checker:

My guess (and I don't actually know because I'm not a UX designer nor have I studied HID) is that once people get used to seeing misspellings... the type we're hinting about in this thread... they will miss the real misspellings.

The net/net will be we'll always be looking at red squiggles every time we use the tool.
If we decide to go this path, let's make

[2022-02-08 00:56] storkinsj commented on #361
A thought on this feature:
I think if we go through the stride threats and add something (2), mentally we've already done 3. It's why we know how to do 2. I do think it's a good idea for early threat modelers and will help teach.

My request (as with the pulldown for STRIDE vs other methods) is to default to whatever choice we make, and that it's not a mandatory step. So if we by default not to se

[2022-02-08 06:27] jgadsden commented on #130
@storkinsj I appreciate your (very healthy) scepticism on spell checkers ... now you point it out I have gotten used to ignoring the red squiggly line. It may be that electron applies it to Threat Dragon unless we configure it out, finding out should be part of the electron development.

It would be good to make sure we have your input on this when it comes to be implemented - if it is OKK I will

[2022-02-08 17:53] saurabhlime commented on #361
I completely agree with not mandating the Att&ck tactic step. Though we can pre-select the att&ck layer based on the process that is selected for Threat modelling(Cloud, container, network, IAAS etc).

[2022-02-09 08:36] jgadsden commented on #361
Agreed - where Threat Dragon wins is where it is simple and intuitive to use. The freeform text boxes are a big bonus for our community. If we implement this feature we would need it to be optional, as in it would not intercept the main use case.

From my point of view I would find this very useful, so could it be a different mode of Threat Dragon? I am not sure what I mean by that ... somehow I w

[2022-02-09 21:15] ShubhamPalriwala opened #368 "Formatting Guidelines for Contributors"
**Describe what problem your feature request solves**
Every developer has their own set of configs for tab sizes, indentations, linters, etc. This makes reviewing a PR difficult as well as makes the code formatting non-uniform across the project.

**Describe the solution you'd like**
Threat Dragon should have generalised standards that our project throughout its file follows. This reduces the time

[2022-02-09 21:21] lreading commented on #368
Just leaving some notes:

Off the top of my head (I will try to remember to check later today) - We have eslint configured for both td.vue and td.server, with different linting rules.  Ideally, it'd be great to have a single source of truth.  Both linters are configured to run with the `--fix` argument which should be able to handle simple formatting issues.

Another tool at our disposal is using

[2022-02-09 23:11] lreading opened #369 "Dependabot Does not Recognize pnpm-lock.yaml"
**Describe the bug**
This repository uses Dependabot to notify maintainers when vulnerabilities are discovered in installed packages.  Dependabot relies on a package-lock.json or the equivalent from yarn.  It does not recognize pnpm-lock.yaml files.

There's an issue requesting pnpm support, but it doesn't seem to have moved at all: https://github.com/dependabot/dependabot-core/issues/1736

After

[2022-02-10 07:15] jgadsden commented on #369
One of the things I liked about dependabot is the overrides and also the manner of its pull requests and generally dependency handling. So my preference would be to stick with it and:
1. delete any dependabot pull requests that are not relevant
2. tough it out and wait for an update for dependabot to handle pnpm

[2022-02-10 07:34] ShubhamPalriwala commented on #242
Any update with the OWASP area here?

[2022-02-10 08:25] jgadsden commented on #242
OWASP have contacted Dockerhub, but Dockerhub do not do an organisation account that is able to cover all the users OWASP has. Waiting on Dockerhub for this one

[2022-02-10 10:15] jgadsden opened #370 "v2 - determine if PROXY_PRESENT is still needed"
**Describe what problem your feature request solves**
We have an env var in version 1.6.0 for proxies: PROXY_PRESENT

**Describe the solution you'd like**
Determine if PROXY_PRESENT is needed for version 2.0 onwards

**Additional context**

[2022-02-10 10:23] jgadsden opened #371 "v2.x - document environment variables"
**Describe what problem your feature request solves**
We have some env vars that are not documented in the read-me files - mostly because they are used for development

**Describe the solution you'd like**
Document the these env vars in the developer notes

**Additional context**
These are not yet documented:
LOG_LEVEL
ENV_FILE
IS_TEST
ELECTRON_NODE_INTEGRATION
WEBPACK_DEV_SERVER_URL

These are al

[2022-02-10 10:27] jgadsden opened #372 "v2 - reinstate command line interface"
**Describe what problem your feature request solves**
Version 1.x of Threat Dragon has a CLI - this needs to be migrated to version 2.0

**Describe the solution you'd like**
Implement CLI for version 2.0 using version 1.x as an example

**Additional context**

[2022-02-10 10:30] jgadsden commented on #88
Following @ShubhamPalriwala 's suggestion, this may be a good feature for the 2022 Google Summer of Code:
https://github.com/OWASP/www-community/commits/master/pages/initiatives/gsoc/gsoc2022ideas.md

[2022-02-10 14:07] jgadsden commented on #334
@ShubhamPalriwala pull erquest #362 satisfies this issue, so do you want to have the honour of closing it?

[2022-02-10 14:48] jgadsden opened #373 "v2 - desktop includes github login"
**Description**
When using the desktop application, if the main page button is pressed 'Login with GitHub' then the main window becomes the github login screen and there does not seem to be a way to escape

**Expected behaviour**
It would be good to be able to get back to the main screen without having to close / reopen the application

**Environment**
 - Version: 2.0
 - Platform: Desktop App
 - O

[2022-02-10 15:28] jgadsden commented on #216
With version 2.0 of Threat Dragon we see the same problem, screenshot attached. We need the 'Properties' and 'Threats' Panes to be docked with the lower edge of the window, so that the drawing area and 'Entities' panes can expand to fill the gap.

Note that this also happens with the web app version, just zoom out to see the effect.

<img width="1149" alt="threat-dragon-white-space" src="https://u

[2022-02-10 16:12] ShubhamPalriwala commented on #334
Haha! Thank you Jon.

[2022-02-10 16:12] #334 closed

[2022-02-10 16:38] lreading commented on #373
I think the "bug" is that the github login isn't intended to be present on the desktop app.  The logic hasn't been implemented yet because the wrapper was just added.  The github login flow requires the server, which isn't wrapped in the electron application.  Should be an easy fix and is already planned. :smile:

[2022-02-10 16:41] lreading commented on #369
Based on the linked discussion, I'm not hopefully they will be supporting it any time soon.  That said, if you like dependabot, I'm totally fine with sticking it out as long as there's visibility into why some of these alerts are less meaningful. :smile:

[2022-02-10 17:32] fropert opened #374 "v2 - Open recent list in Desktop"
**Describe what problem your feature request solves**

To have a list of recently opened files by Threat Dragon Desktop.

**Describe the solution you'd like**

A "Open Recent" submenu in the File menu containing the list of recently open threat models.

[2022-02-10 23:54] storkinsj commented on #130
Similar discussion going on [over here ](https://github.com/jgraph/drawio-desktop/issues/420)with a solution.
Looks like not everyone wants it off or on, but it's doable to make it switch.

[2022-02-11 00:04] storkinsj commented on #373
Has anyone tried PAT or read through how to avoid by using ssh?

Perhaps do this for your user on your computer and see what happens?
https://docs.github.com/en/get-started/getting-started-with-git/why-is-git-always-asking-for-my-password

[2022-02-11 06:01] jgadsden opened #375 "make spellchecker configurable"
**Describe what problem your feature request solves**
The spellchecker that comes with browsers and electron can not be switched off - making it irritating if using a non-local locale or largely technical sentences.

**Describe the solution you'd like**
Desktop version : a configuration to switch the spellchecker on / off

**Additional context**
This was discussed in #130 and was provided when mov

[2022-02-11 06:02] jgadsden commented on #130
Closing this because we now have spellchecking for version 2.0 - but opened #375 because the spellchecker could get irritating

[2022-02-11 06:02] #130 closed

[2022-02-11 07:19] jgadsden commented on #369
Hello @lreading I now understood what you are saying, I had misunderstood before, in that dependabot is not useful to us because we do not use `package-lock.json` files? So it will never give us the alerts we need? (Along with giving us alerts that are not relevant, so doubly unuseful)

So we need to switch away from dependabot - and my answer above should be ignored

[2022-02-11 07:24] jgadsden commented on #216
@taoyiyang1 - the tutorials/documentation for the drawing package is here : https://x6.antv.vision/en/docs/tutorial/about

Is this issue something you could help with?

[2022-02-11 22:47] lreading commented on #216
I'm hoping we can do better with the placement of these panes as well! As it is, it's not looking so great on smaller screens. :(

If memory serves me, the height for the graph is currently hard-coded in pixels.  This could even be as simple as changing it to use view-height as the unit with a min-size property?

[2022-02-12 05:21] jgadsden commented on #216
Hello @lreading - absolutely agree, and you are best placed to do this one
My thought here was that @taoyiyang1 could help out with the actual tutorials and documentation for antv? As 陶一阳 does not have the language barrier here

[2022-02-12 18:34] lreading commented on #64
Where `main` is the v2 codebase, do we just want to link to the `.com` tld?  I had updated it when we merged to main to point to the v2 docs.

[2022-02-12 18:36] lreading commented on #216
It turns out the graph area isn't super responsive by default.  This means we might need to watch for window resizing events (or zoom events, if such a thing exists?) and redraw.  That might have some performance implications... We could debounce the events to help mitigate that a bit.

I'm going to try to think of a better solution for this before committing anything. If anyone has ideas, please

[2022-02-12 18:48] lreading commented on #342
On linux (ubuntu 20.04), the regular print dialogue has an "output to file" option that saves the PDF of the page.  The CSS `@media` queries appear to work the same as they do on the desktop version.

I think the PDF button may be redundant.  I'm going to test this on macOS and Windows as well just to double check.  If it turns out to the work the same, I'd vote to remove this feature entirely.  I

[2022-02-12 19:13] jgadsden commented on #64
Yes, that sounds good - if you could do the honours that would be great @lreading , and we can close the issue?

[2022-02-12 19:18] jgadsden commented on #342
Yes, makes sense - we get a lot from Chromium/electron so it may be that it works similarly for the desktop app
If so then pruning sounds good to me 👍🏾

[2022-02-12 19:19] lreading commented on #370
I misunderstood what this config was used for.  In previous iterations, that was set for the passport/cookie auth configuration.  v2 no longer uses cookie auth, but instead relies on bearer token auth.  I don't know if we would need this setting, or how we would configure it.  I don't have any environments suitable for testing.

[2022-02-12 19:21] lreading commented on #342
I checked on ubuntu, windows and macos, all have similar features.  Additionally, the report looks about the same across operating systems. I'll remove the pdf button. :smile:

[2022-02-13 04:57] lreading opened #378 "New Threat Model Gets Stuck at v2 Welcome"
**Describe the bug**
When creating a new threat model using GitHub auth, the guard that checks for v1 vs v2 models triggers, and you cannot navigate past it.  This happens when clicking the "create a new threat model" link from the _repository_ selection page.

**To Reproduce**
- Log in using Github Auth
- Click "open an existing threat model"
- Select a repository
- Select a branch
- Click the "C

[2022-02-13 06:23] jgadsden commented on #370
Thanks for looking at this - we can close this as it is  not needed

[2022-02-13 06:23] #370 closed

[2022-02-13 07:18] #342 closed

[2022-02-13 07:26] lreading commented on #340
Part of my initial concerns with keeping the same naming conventions have been partially mitigated by implementing the [threat model upgrade screen](https://github.com/OWASP/threat-dragon/pull/348#issuecomment-1006296451]) in #348

Just to keep the ball moving, I've implemented the "glue" between the front and back-end as it has always worked.

TODO:
- For local sessions, I'll see there's a way to

[2022-02-13 08:18] #373 closed

[2022-02-13 08:21] lreading opened #380 "Update Homepage in package.json Files"
**Describe the bug**
v2 will be using `threatdragon.com` as a domain name for the foreseeable future.  The `package.json` files in `td.vue` and `td.server` point to `docs.threatdragon.com`

**Expected behaviour**
Change the homepage value to be either the top level domain of the .com, or the docs ( https://www.threatdragon.com/docs )

[2022-02-13 19:00] #380 closed, assigned to nobody

[2022-02-13 20:25] lreading commented on #340
As it turns out, attempting to download a file in electron opens the "save dialogue" prompt.  This makes things a bit easier.  I like this behavior, as it's intuitive for the user and requires less complexity with handling electron-specific code.  Additionally, this _may_ resolve the default path issues we see with the `.snap` (time will tell).

[2022-02-13 20:33] lreading opened #383 "Open/Save/Rename for Electron"
**Describe what problem your feature request solves**
The electron build requires different logic for saving directly the file system.  Users should only be prompted with the save file dialogue when they are creating a new threat model (not fully implemented yet)

**Describe the solution you'd like**
Create electron specific logic that saves the threat model whenever the user clicks a "Save" butto

[2022-02-13 22:12] storkinsj commented on #340
Not able to find electron build yet but some thoughts on 1.x since this is 2.0 and the team is dealing local persistence issues:

-Saving icon inside diagram was not easy to understand (download button) but the ability to save changes with one click is important to retain
-File naming of ".json" means we don't have a standard threat-dragon specific file extension. Here are the side effects:
-.json

[2022-02-14 05:58] ShubhamPalriwala commented on #340
My view on this, firstly a great feature ahead!
Secondly, I might think differently here but for now I feel JSON is the best export format.

Parsing a JSON is easy hence opens a lot of gates for us to reuse it and makes it easier for later features too!

[2022-02-14 06:34] storkinsj commented on #340
please have a second look at my comment.

no one is recommending we change the format.

I am recommending we change the file extension.

imagine yes Microsoft office’s xml format based documents open eclipse editor instead of word or excel.

It does not mean the document format is not XML by changing the document extension. as I mentioned above I wrote an exporter that absolutely counts on the for

[2022-02-14 06:38] jgadsden commented on #340
Yes, understood - at the moment when I am opening files usijg the 1.x desktop version it does filter for all json files in the project. We can of course keep json and have a Threat Dragon specific extension (.td sort of feels natural).

I think this would be much less of a problem to the community than we might think ... nothing stop TD accepting both .json and .td extensions for example

[2022-02-14 06:44] jgadsden commented on #340
FWIW .td file extension is used for :

"The TD file type is primarily associated with Train Simulator.  TD files mostly belong to Train Simulator by Microsoft Corporation."

"The .td file extension is used for Teledisk archive files. Teledisk is a shareware disk archiving utility that was released by Sydex and was very popular in the 1990s."

"The td file extension is used for configuration files

[2022-02-14 16:48] RockRunner007 opened #385 "Resize Diagram or Export to PNG"
**Describe what problem your feature request solves**
I don't currently have a way to share a large threat model with non-git stakeholders.

**Describe the solution you'd like**
As a Cloud Security Engineer, I would like the ability to export a threat model outside of threat dragon so that I can share a diagram with stakeholders that are not currently using threat dragon.

**Additional context**
M

[2022-02-14 17:20] lreading commented on #340
My preference would be to keep the `.json` extension.  Where we are using a standard format, I feel like we should use the standard extension for it.  This eliminates the need for any domain knowledge to understand what type of data is in it.

I'm happy to go with whatever the community thinks is best - but if we do go down the route of using the `td` extension, I like Storkinsj suggestion of usin

[2022-02-14 17:31] lreading commented on #385
Hey @RockRunner007

Thanks for opening the issue!  Version 2 is currently in development and has implemented the zoom feature.  Exporting to PNG/JPEG/SVG is  on the roadmap for v2, but may not be in the initial 2.0 release.  There are improvements in the "report" area, though I can't say for certain if really large models will scale well.  This can be printed or exported to PDF (via print dialogue

[2022-02-14 17:47] RockRunner007 commented on #385
Hey @lreading

Thanks for the quick response!

Deep Dive:
For me personally, the workaround was to use "Toggle Developer Tools" and manually modify the px of the working area so that I could snag a screenshot on my MacBook Pro. The screenshot was imported into a draw.io template that can be shared with leadership and spoken about during a presentation with upper management. For git users, they are

[2022-02-14 19:49] RockRunner007 commented on #385
If you are publishing a "test" release anywhere, let me know and I am more than happy to put some of my larger STRIDE threat models to the test.

[2022-02-14 22:19] lreading commented on #385
We haven't published a desktop release yet, but the web version is updated off of the main branch at [https://www.threatdragon.com/](https://www.threatdragon.com/)

When using the local session option, it is a 1:1 with the desktop version.  The only reason I don't typically recommend that for testing is because it's sitting on a server in the cloud, and many orgs are careful about where they put t

[2022-02-16 01:42] #340 closed

[2022-02-21 06:30] taoyiyang1 commented on #216
@jgadsden Of course, @lreading you can consult me ​​if you have difficulty reading a certain part of the document

[2022-02-28 13:50] ShubhamPalriwala opened #386 "CSS Fixes"
**Describe the bug**
This will be a tracker issue for any of the further PRs I make to fix small CSS fixes.
- [ ] The threat dragon mascot's size is not responsive and goes out of the screen for various devices!

**Any additional context, screenshots, etc**
If you also find any such bug and would like it to be fixed, feel free to comment below and I'll take a look at it!

[2022-03-01 16:45] jauharbal commented on #221
Is Export option implemented on the Desktop version? been looking for the same but I couldn't find it.

[2022-03-01 16:52] jauharbal commented on #385
Looking for the export option and the download was not working for me on the MacBook

[2022-03-01 16:55] jgadsden commented on #385
Agreed @jauharbal , this feature is still in progress and is in the Open state. Are you interested in coding for this?
If you want a release version then you can check out : https://github.com/OWASP/threat-dragon/releases

[2022-03-09 07:52] vtgav opened #387 "desktop version won't let me edit processes, stores etc."
**Describe the bug**
all appeared to be working OK, I created a new project, new diagram, started to build the model but at some point it became partially 'read only' - I can drag processes, stores and actors around but cannot change them ( eg: change the name or description etc. ). However I can change data flows and trust boundaries.
I cannot add items of any sort.

**Expected behaviour**
I shou

[2022-03-11 18:33] saurabhlime commented on #361
Helpful resource to visualize STRIDE mapping to MITRE's Attack CAPEC.
https://ostering.com/blog/2022/03/07/capec-stride-mapping/

[2022-03-24 21:47] jgadsden commented on #387
Hello @vtgav - just to make sure, you have downloaded the Windows installer from the releases area:
https://github.com/OWASP/threat-dragon/releases
and you are using the desktop version not the web app version?

[2022-03-26 14:46] jgadsden commented on #371
Taking this one on because it will increase my knowledge of version 2.0 code

[2022-03-26 14:49] jgadsden opened #389 "Ensure that PORT environment variable behaves as expected"
**Describe what problem your feature request solves**
We have an environment variable PORT that defines the port number that the TD server listens on. If this is changed it is probable that the front end will not be able to access the backend

**Describe the solution you'd like**
Ensure that the PORT environment variable behaves as expected

**Additional context**

[2022-03-26 14:50] jgadsden commented on #389
Taking this on so that I can increase my knowledge of the code

[2022-03-27 14:04] jgadsden commented on #256
Hello @gabe-sky - we are migrating to version 2.0 of Threat Dragon, which does not suffer from outdated drawing packages. Versions 1.6.x are now in maintenance mode, and in the end we did not replace JointJS - it proved to be too much work.
I hope you are OK with me closing this issue, because we are now concentrating all our effort on version 2.x

[2022-03-27 14:04] #256 closed

[2022-03-27 15:11] jgadsden commented on #383
This is a high priority for the electron desktop app - I will take this on next of that is OK?

[2022-03-27 15:19] jgadsden commented on #126
Confirmed that this is not a problem in version 2.x Threat Dragon, so it can be closed.
Versions 1.6.x is in maintenance mode, so it will not be fixed for 1.6.1

[2022-03-27 15:19] #126 closed

[2022-03-27 15:29] lreading commented on #383
I believe I had it working just using the browser save (ergo download) feature.  In electron, it would probably be best if we used the system save dialogue.  I think the main difference is that using the browser download function, it will prompt the user for the save location each time they save, and by default append a number to the end if the file already exists.  In the electron app, I think it

[2022-03-27 16:13] jgadsden commented on #383
Cool, thanks @lreading , I will go ahead  and use the filesystem dialog open/save/silent-save

[2022-03-27 16:31] #371 closed

[2022-03-27 16:31] #389 closed

[2022-03-28 08:30] jgadsden commented on #242
This is not going to be done by dockerhub for OWASP, so all we can do is close it and wait for notification from OWASP in the future

[2022-03-28 08:30] #242 closed

[2022-03-28 09:03] jgadsden commented on #143
This can be closed - version 1.6.x is in maintenance mode and the new version 2.0 does not have this problem

[2022-03-28 09:03] #143 closed

[2022-03-28 09:05] jgadsden commented on #224
This can be closed - version 1.6.x is in maintenance mode and the new version 2.0 does not have this problem

[2022-03-28 09:05] #224 closed

[2022-03-28 09:10] jgadsden commented on #217
This was also reported in #269 'Error on open invalidCharacterError'

[2022-03-28 20:47] jgadsden opened #391 "v2 - can not delete process diagram element"
**Describe the bug**
When attempting to delete a process diagram element from a diagram, the 'red cross' becomes unavailable and no deletion can be done

**Expected behaviour**
Deletion of processes; same as Actors, Data Flows and Trust Boundaries

**Environment**
 - Version: unreleased version 2.0
 - Platform: both Web App and Desktop App
 - OS: MacOS - possibly Windows + Linux as well
 - Browser

[2022-03-28 20:57] jgadsden commented on #378
Confirmed that this still happens as described

[2022-03-29 03:16] jgadsden commented on #391
Taking  this one on because I think the solution is fairly straight forward

[2022-03-29 08:55] jgadsden commented on #346
Being able to grab the whole shape - not just the name text - is certainly possible with antv/x6. This is implemented in [gobot](https://github.com/pojol/gobot) and is demonstrated at http://1.117.168.37:7777/

[2022-04-01 03:08] jgadsden opened #393 "node error: "npm ERR! Workspaces not supported for global packages""
**Describe the bug**
This is [a known bug in the latest npm](https://github.com/nodejs/node/issues/42397) version 16.14.1 and 16.14.2
It is stopping our github actions from running:
* Deploy
* CI Pipeline
* Trivy
* Browserstack e2e

**Expected behaviour**
Our github actions passing - or at least with our known issues

**Environment**
 - Version: all
 - Platform: github
 - OS: all
 - Browser: all

[2022-04-05 08:18] jgadsden opened #395 "reinstate ability to create data flows by selecting diagram element"
**Describe what problem your feature request solves**
In pull request #394 the magnet attribute was disabled to allow grab of the whole shape

**Describe the solution you'd like**
We need to reinstate ability to create data flows by selecting diagram element, possibly using ports, while keeping the ability to grab of the whole shape

**Additional context**
X6 has some tutorials on ports, this may

[2022-04-05 12:02] jgadsden opened #396 "v2 - go straight to welcome screen for desktop app"
**Describe what problem your feature request solves**
At the moment the desktop goes first to the login page, but with only one option

**Describe the solution you'd like**
The desktop app should miss out the login page (/#) and go straight to the welcome page (/#/dashboard)

**Additional context**
This would make the desktop application behave the same as version 1.x, and also it is an unnecessar

[2022-04-05 20:47] jgadsden commented on #391
I could not see how to correct this, so releasing it. The process diagram element can be deleted once it is selected, using the delete key or by using the trash can icon.
We have workarounds so demoting the priority

[2022-04-05 20:51] jgadsden opened #398 "v2 - provide rubberbanding / multiple select"
**Describe what problem your feature request solves**
it would be good to provide rubberbanding so that multiple diagram elements can be selected. This would also improve the ability to select diagram elements

**Describe the solution you'd like**
provide rubberbanding so that mutliple elements can be selected, moved and deleted

**Additional context**

[2022-04-06 12:21] jeronomy opened #399 "[CSS Rendering] Bug when opening the "edit diagram" interface in a small window"
**Describe the bug**
Opening "Edit Diagram" feature with a small window, then resizing the window (enlarging) will cause the interface to not appear "properly" : 5 elements of the diagrams (process, store, actor etc) seems to have 'absolute' size fixed (when first shown in small window) and won't re-ajust their size properly (to fit new window size dynamically).

**Expected behaviour**
Edit diagra

[2022-04-06 17:45] jgadsden commented on #399
Thanks for the bug report @jeronomy  - how severe is this problem? Is it a blocker that needs a fix and a new patch release?

[2022-04-07 09:26] jeronomy commented on #399
This is not a 'critical bug' imo, but I would like to have a 'more responsive' drawing interface if possible (without too much efforts).

I am doing some tests to see the possibility of use of this tool, for client's org.
Clean process for building & documenting threat models would be a huge benefits (helping me help them, to be more secure).
But those kind of bug (responsivness, non-adjusting siz

[2022-04-07 10:42] jgadsden commented on #399
Hello @jeronomy - thanks for the really good information on how you are using Threat Dragon. As a project we rarely get such detail ... I use it in my company so it tends to follow the ForgeRock use cases, I guess a bit of an echo chamber :)

The drawing package for version 1.x proved a real headache for us, going up a version on JointJS introduced breaking changes that would need a lot of effort,

[2022-04-07 13:09] jeronomy commented on #399
Thanks for your message: I got my answers loud &  clear :)
So this is a minor issue, and I would like to avoid more headache on this specific matter!

I am testing the v2 and it seems like a really good shift !

I know this is not the place or the time to do suggestion properly, but... here it comes :)

- It seems harder to select items ! I did took 5min to understand that arrow must be clicked on

[2022-04-07 13:09] #399 closed

[2022-04-07 13:59] jgadsden commented on #399
Hello @jeronomy , I agree with your points - did you want to raise an issue for:
1. Dark mode
2. Dynamic resizing of the side panel

Select items is in a pull request at the moment: "disable magnet to allow grab of entire element" #394
I will go ahead and merge this pull-request and so you can see if it has improved (@lreading I hope you do not mind megoing ahead)

[2022-04-07 14:03] #398 closed

[2022-04-07 14:35] jgadsden commented on #393
As a workaround we now fix the node version to 16.14.0 in commit 82c9d49d2d3a315650a7aed7e1b3a3308a7b44a7

This temporary fix should be reversed after node version 16.15.x is released

[2022-04-07 20:37] danielpops commented on #329
Hi @lreading, just wanted to check back in on this. Any thoughts on if / when this might be revisited?

I'd love to use Threatdragon to maintain our company's threat models and store them in our internal github enterprise repo(s)!

[2022-04-08 15:16] lreading commented on #396
Would it be worthwhile to make the decision of including authentication flows in desktop or not before doing this?

I don't have a definitive plan, but I do wonder if we may need to bundle the server code into the desktop app to accomplish this, or if we could use another auth flow to authenticate?  I think it'd be best to decide _how_ we want it to function, then work on the implementation. :)

O

[2022-04-08 15:20] lreading commented on #391
I'll take a look at this one.  I know it's not a show-stopper, but that's a pretty bad UX type of thing. :) I'm suspecting it has to do with the custom shapes.

[2022-04-08 15:24] lreading commented on #399
Feedback is very much welcome, however it comes in! Thanks for poking at it!

[2022-04-09 07:31] jgadsden commented on #391
Thanks @lreading - agreed we have the delete key and also rubber banding to delete the process shape ... but it is disconcerting that the red cross keeps disappearing every time you move to it (but only on the process circle-shape)

[2022-04-09 07:36] jgadsden commented on #396
Yes, good point. If we have authentication in the desktop (whatever form that takes) then we still need the #/ page and not go straight to #/dashboard

I think this issue should be closed with "Won't Do" (re-open it @lreading if you disagree)

[2022-04-09 07:36] #396 closed

[2022-04-09 18:01] jgadsden commented on #399
I am looking at  the versioning - Heroku does not seem to be updated with the latest version, so this would be a good to have. Will raise a feature request

[2022-04-09 18:04] jgadsden opened #400 "v2 - supply a version string"
**Describe what problem your feature request solves**
It would be good to have the semantic-versioning string displayed on the welcome page (/#/)

**Describe the solution you'd like**
Provide a discreet version string on the web app welcome page. It would also be good to have the build version as well ... at least for development

**Additional context**
For extra brownie points modify the desktop

[2022-04-09 18:11] jgadsden opened #401 "v2 - desktop drop down menu refers to 'td.vue'"
**Describe the bug**
The drop down desktop File menu refers to 'td.vue' instead of 'Threat Dragon'

**Expected behaviour**
In desktop version go to drop down menu:
OWASP-Threat-Dragon -> File -> About Threat Dragon
OWASP-Threat-Dragon -> File -> Hide Threat Dragon
OWASP-Threat-Dragon -> File -> Quit Threat Dragon

**Environment**
 - Version: 2.0 (unreleased)
 - Platform: Desktop App
 - OS: all Mac

[2022-04-09 18:50] jgadsden commented on #401
Taking this one on as it is to do with Electron configuration

[2022-04-09 18:52] jgadsden opened #402 "Browserstack End to End Tests failing"
**Describe what problem your feature request solves**
githcub  action 'Browserstack End to End Tests' are failing

**Describe the solution you'd like**
Not sue why, but it seems to be the e2e-nightly fails some of its tests

**Additional context**

[2022-04-10 13:44] jgadsden opened #404 "provide dark mode"
**Describe what problem your feature request solves**
It would be good to allow the use of Dark Mode in the desktop and in the web application by the browser

**Describe the solution you'd like**
An example tutorial for an Electron app : https://www.electronjs.org/docs/latest/tutorial/dark-mode

**Additional context**
Consider using icons:
moon: https://fontawesome.com/icons/moon?f=classic&s=regul

[2022-04-10 14:37] jgadsden commented on #374
taking this on because I am working on the electron menu system

[2022-04-12 06:35] #401 closed

[2022-04-12 15:41] jeronomy commented on #399
Hello !
Thank you for you answers !
I had close the ticket in my mind so didn't expected some returns, nice to see commitment on product improvment like this :)

I will open issues for the 4 mentioned topics ! This is the least I can do :)

If I were able to read through the matrix, I would be tempted to wonder help dev some feature (but yeah, the matrice has me, for now...)

[2022-04-12 15:44] jeronomy opened #406 "Dark mode"
**Describe what problem your feature request solves**
The software looks good, in v1.6 & in v2 : it could look even better with a dark mode !

IMHO : The better the interface looks, the more people we will be able to convert to use this tool, by preaching the holy words of OWASP spirit. Amen.

**Describe the solution you'd like**
Invert color interface ?
The 'mitigation' for this is easy on the we

[2022-04-12 15:57] jeronomy opened #407 "provide dynamic resizing of the drawing panel"
**Describe the bug**
Dynamic resizing during window resizing to get a "proper responsive user experience" would be very nice !
In versions v1.6.0 and also in the next upcoming v2.0, the drawing panel is not able to enlarge itself, when more space is availble.

**Expected behaviour**
Would be nice to have the larger drawing panel possible, especially in futur v2, to increase usability & user experi

[2022-04-12 16:01] jeronomy opened #408 "v2.x - Info needed: 'Version number'"
**Describe what problem your feature request solves**
The new upcoming v2 version does not seems to have a place for the version number info, in the main menu of the app.

While this is not a deal breaker as final user will not spontaneously search for version number on a perfect app without any bug (yes, it will be), while 'waiting' perfection, it would be practical  to be able to find this info

[2022-04-12 16:19] jeronomy opened #409 "improvments for 'import' & 'save project' features"
**Describe what problem your feature request solves**
This issue concerns 2 potential correlated but independent improvements:

1 - Reduce confusion for saving feature : when we hit "save" on the drawing panel, we are prompted with a green popup in the bottom left hand corner "Threat model successfully saved!", while a Windows Explorer popup ask us for a path to save the new file.
So users can be

[2022-04-12 16:22] jeronomy commented on #406
Sorry, duplicate of issue #404 (I did 'Not Found' it in time)

https://github.com/OWASP/threat-dragon/issues/404

[2022-04-12 16:22] #406 closed

[2022-04-12 16:30] jeronomy opened #410 "Windows Desktop App crashed multiple times when using export feature"
**Describe the bug**
I was searching for a way to export report in pdf : this is one of the last feature that is missing for me to do some demo of the tools to some of my coworkers so I am eager to find it :)

While testing 'Report - export' feature, the app crashed.

But unfortunatly I did not found debug file to help me provide info for helping you help me on this issue.
If there is an option to

[2022-04-13 08:17] jgadsden opened #411 "replace desktop tests; Spectron now deprecated"
**Describe what problem your feature request solves**
Spectron is deprecated from February 2022: https://www.npmjs.com/package/spectron
Testing of electron desktop applications is now done using [ChromeDriver](https://sites.google.com/chromium.org/driver) and [WebdriverIO](http://webdriver.io/).

**Describe the solution you'd like**
Test desktop Threat Dragon application and pull down menus

**Add

[2022-04-13 10:32] jgadsden opened #413 "apply i18n to desktop drop down menus"
**Describe what problem your feature request solves**
The desktop version of threat Dragon has drop down menus that do not follow the i18n selection; always in English

**Describe the solution you'd like**
Drop down menus should follow i18n

**Additional context**
a tutorial on an i18n implementation: https://phrase.com/blog/posts/building-an-electron-app-with-internationalization-i18n/#Switching_

[2022-04-14 09:23] guptaharsh13 commented on #413
Hi @jgadsden,
I would love to work on this issue. Could you please assign the same to me.

[2022-04-14 10:34] jgadsden commented on #413
Hello @guptaharsh13 - all yours! Thank you for taking this on

[2022-04-15 14:58] jeronomy commented on #408
Hello !
Nice adding of the "About Threat Dragon" option in the "Help" main menu !

We now can see that Threat Dragon use "Electron 17.4.0" (but not yet the Threat Dragon version in itself)

I know this message is not usefull in any way (as we know that I know that you know what you are doing) :
I just wanted to say "Thank you for this feature!" and also stop by to say hello, have a great week-end

[2022-04-15 16:03] lreading commented on #407
I made a pass at this during initial implementation and decided to revisit it later, as I couldn't get it to work reliably.  There's a responsive attribute for the X6 diagram, but the machine-translated documentation isn't super clear on how it works.  I do know that you need to be using flex.  The issue could even be with how Bootstrap is using flexbox, or it could have simply been a lack of unde

[2022-04-15 17:21] lreading commented on #329
I've been less active recently, my apologies!  Hoping to get more time onto this specific issue in the next month or so.

[2022-04-15 17:33] lreading commented on #391
A quick observation: The process is the only shape where the SVG lines do not extend to the corners of the boundary body.  It seems as though the "x" icon disappears as soon as you are no longer inside the initial shape. I think a somewhat simple workaround would be to extend the shape to be a square with a circle inside of it.  We can set the opacity to 0 for the square, but X6 should still ident

[2022-04-15 18:08] #146 closed

[2022-04-15 18:10] jgadsden opened #416 "v2 - browserstack e2e failing"
**Describe the bug**
The browserstack tests are failing for :
* logout
* demo
* report
* upgrade

**Expected behaviour**
browserstack-cypress-cli is at version 1.8.1 which includes an up to date cypress. This means we are picking up several upgrade issues in the e2e tests, for example:
[code]

**Environment**
 - Version: 2.0.0
 - Platform: Web App
 - OS: all of MacOS / Windows / Linux
 - Browser:

[2022-04-15 18:11] jgadsden commented on #416
taking this one on as I know how to solve it

[2022-04-15 18:31] lreading commented on #378
Assigning to myself - I've wanted to re-work the git flow for a bit now.  I think it could be done a bit more cleanly anyways.  As it currently works, there's multiple pages/routes to get to a threat model, when it could be a single view with multiple components to accomplish the same goal.

[2022-04-15 19:05] jeronomy commented on #407
Nice, thank you for getting time to poke around this issue again !

I do understand pretty well that I do understand very little about technical stuff outside "dependency version should match", but I will eventually take a closer look at the ThreadDragon's code for this feature this weekend (and also on the flexbox side of things, perhaps ?)
By all means: don't raise expectation (for real results

[2022-04-16 06:01] jgadsden commented on #408
Hello @jeronomy - yes, I agree that the electron version is not super useful :)

This is part of the weirdness that electron does - if you run it in development mode then the 'about' role in the menu system shows electron ... but if you build it as an installer it shows the correct information in the about box
<img width="777" alt="Screenshot 2022-04-16 at 07 00 25" src="https://user-images.github

[2022-04-16 06:02] jgadsden commented on #408
Having said that  ... not sure why the version string is '2.0.0 (2.0.0)' which looks weird and wrong. It must be picking this up from `package.json`

If you have time to experiment?
Cheers,Jon

[2022-04-16 06:06] #374 closed

[2022-04-16 06:07] #408 closed

[2022-04-16 06:09] jgadsden commented on #391
Wow, yes, I bow to you. Sounds like an elegant solution - I could not find a solution myself and this sounds good to me.

[2022-04-16 06:13] jgadsden commented on #407
thanks for looking at this @jeronomy and @lreading - do you mind if I assign it to you both?
You can always unassign it if you disagree :)

[2022-04-16 07:54] jgadsden commented on #400
closing this because we have the version string in the navigation bar and also in the about box from the desktop drop down menu

[2022-04-16 07:54] #400 closed

[2022-04-16 10:51] #416 closed

[2022-04-16 15:48] jgadsden opened #418 "revise version 2 workflow release process"
**Describe what problem your feature request solves**
We need to rewrite workflow .github/workflows/release.yaml for version 2.0

**Describe the solution you'd like**
this is the automation for when a new tag is created, which can then be used for the release candidate

**Additional context**

[2022-04-17 16:14] #391 closed

[2022-04-17 23:26] lreading opened #419 "Heroku Security Incident / Threat Dragon's Response"
**TLDR;**
Threat Dragon was not affected by this incident.  No action is necessary for any Threat Dragon users or maintainers.  This incident does not impact GitHub OAuth Applications, and as such does not impact Threat Dragon users.  Additionally, Threat Dragon does not use any analytics engine or otherwise knowingly collect user data.  Heroku may collect data on application usage, and is subject

[2022-04-18 04:27] jgadsden commented on #419
Thanks for the post on the OWASP slack channel: https://app.slack.com/client/T04T40NHX/CURE8PQ68

I have gone ahead pinned it to the channel

[2022-04-18 04:59] #419 closed

[2022-04-18 10:19] jgadsden opened #421 "desktop about-box is MacOS only"
**Describe what problem your feature request solves**
The desktop drop down menu role: 'about' is probably MacOS only

**Describe the solution you'd like**

Use [electron about-window](https://www.npmjs.com/package/about-window) and the [given example](https://github.com/rhysd/electron-about-window/tree/master/example)

**Additional context**

Adding in code to make it cross platform was considere

[2022-04-20 01:46] lreading commented on #402
Looking at the browserstack logs, it seems it's having trouble finding the v2 demo threat model in some cases.  This is the report spec, and I saw similar behavior in a recent PR and had to re-run the tests.  I'll see if I can find a way of making it less flaky, though I've no idea why it isn't working.  From the logs:

Screenshot:
![Screenshot from 2022-04-19 21-46-25](https://user-images.githubu

[2022-04-20 01:58] lreading commented on #402
The response times for the web application are terrible. From BrowserStack, it can take about 10 seconds to load the main ThreatDragon page. Looking at the Heroku dashboard, it seems like response times can be as slow as 600ms, however, we aren't anywhere near max capacity for our plan. Something funny is happening here at the infrastructure level (either BrowserStack or Heroku).  Not entirely sur

[2022-04-20 02:29] lreading commented on #402
Firefox is still struggling with the report spec even after adding the waits.  There are a bunch of tests that are failing to launch in BrowserStack, and I couldn't find any additional information on the error.
![Screenshot from 2022-04-19 22-25-57](https://user-images.githubusercontent.com/5851985/164134767-608199bf-436e-45cb-9e4c-cdda69c67241.png)

When you hover over it, it says "Spec details u

[2022-04-20 21:21] sparticvs opened #422 "Reactive CSS results in oversized DFD elements"
**Describe the bug**
There is an issue where triggering reactive CSS, results in DFD elements (e.g. data-flow arrows, threat boundary, etc) displaying incorrectly - either missing or significantly larger than the expected size.

**Expected behaviour**
Resizing of the desktop app window would keep the elements at a fixed size relative to the resolution.

**Environment**
 - Version: 1.6.1
 - Platfor

[2022-04-20 22:13] lreading commented on #402
Apologies, I did not intend to close this issue.  Reopened, waiting on a response from Browserstack to continue debugging.

[2022-04-21 05:36] jgadsden commented on #422
Thanks @sparticvs - we can check that this does not happen on version 2.0, we hope it is restricted to version 1.x and JointJS

[2022-04-21 05:39] jgadsden commented on #407
Issue #422 shows we have problems with dynamic resizing in version 1.x (probably a JointJS problem), this was noted by @sparticvs

We can check that dynamic resizing in version 2.x does not do the same thing

[2022-04-21 05:43] jgadsden commented on #402
OK, thanks @lreading  - I have some ideas on how to (possibly) fix / cope with this ... all to do with what Browserstack regards as a failure ontheir side (which does not fail our run) and a failure our side (which does fail our run)

Do you want me to try them out?
* we make sure each test is self contained - so no dependency on a previous test. Browserstack flattens the directory structure and t

[2022-04-21 07:36] jgadsden commented on #402
OK, [this browserstack run](https://automate.browserstack.com/dashboard/v2/builds/cbfff9c379a43823d39e3b2e6c65eea15c9e2bb7) shows that threatdragon/report.js spec is dependent on ordering/session/something - I just removed it and all is passing (except for some of the BrowserStack machines not being available).

We should probably look at all the tests and ensure that they leave the state as they

[2022-04-21 09:43] ShubhamPalriwala commented on #294
@mike-goodwin Do we have a list of our users?

[2022-04-21 09:45] ShubhamPalriwala commented on #418
@jgadsden What are we planning to rewrite [here](https://github.com/OWASP/threat-dragon/blob/main/.github/workflows/release.yaml.bak)?

Like are we supposed to enhance anything here?

[2022-04-21 10:34] jgadsden commented on #294
no list of users, and the only method we can think of is if companies contact us with an 'OK to use their name' for this page
We think it would be better to have a Threat  Dragon forum? a bit like OWASP ZAP's?

[2022-04-21 10:39] jgadsden commented on #418
at the moment `.github/workflows/release.yaml` from 1.x is disabled - see `.github/workflows/release.yaml.bak` - and it has a comment "# TODO - This will need to be re-written for v2"

[2022-04-21 11:53] lreading commented on #402
I'm not sure that I'm seeing that in the run you referenced.  What I'm seeing (by looking at the playback videos) is that it's starting from a fresh state and not finding/clicking the version 2 demo model for some reason.  My understanding of how Cypress works is that each spec will be treated as its own isolated test case, with the `before` section running similar to how a before block behaves in

[2022-04-21 13:32] jgadsden commented on #402
I will have a look at report.js later today and see if we can get it to pass the browserstack tests

[2022-04-21 13:36] lreading commented on #402
I'm also chipping away at it.  I think I found a reasonable solution to ensuring the state is cleared between tests.  In my testing branch, I've added a parent command that should be called in the before section for each test, `cy.setupTest()`

This command visits the home page, clears the sessionStorage, and also closes the v2 notification toast.  When we get rid of that toast, we will only need

[2022-04-21 14:10] lreading commented on #402
I was able to get a clean run.  It seems as though cypress didn't like selecting an anchor by text.  I've added a data attribute and am selecting the link by that, and it seems to work as expected.  Some tests are still not launching, and I will take that back up when Browserstack has a chance to get back to me.  That part seems to be an issue on their end, not ours. :smile:

https://github.com/OW

[2022-04-22 18:16] lreading commented on #402
Failed last night: https://github.com/OWASP/threat-dragon/runs/6125664997?check_suite_focus=true

I'd like to get these stable before closing this, re-opening! :)

[2022-04-23 18:51] ShubhamPalriwala commented on #418
Okay! What is supposed to be done though xD? Why are we changing the release process?
I'm assuming changing/TODO means something other than **uncommenting** the code xDD?

[2022-04-23 19:00] lreading commented on #418
My ideal situation would be that it fully automates the steps required for a release. We should be able to trigger this action when we push a tag. The steps (from memory):
- build/push the docker image with with the git tag
- create the GitHub release draft (visible to maintainers)
- build the signed electron packages (win, Mac, nix)
- push to snapcraft

It's currently set up to look for the td.de

[2022-04-27 14:48] agostbiro commented on #14
Please prioritise this! It's a hard blocker preventing the use of the project and in general sets a poor example.

[2022-04-28 04:44] jgadsden commented on #14
Hello @mykter and @agostbiro - I understand your frustration. This is specific to threat dragon version 1.x , which is the branch off main that has only security or highest priority fixes applied.

We are working on version 2.x now, and this does not have the problem described here. We expect version 2.0 to be released within a couple of months or so. Apologies for not giving the response that you

[2022-05-03 06:39] jgadsden opened #424 "v2 - Add date to report export"
**Describe what problem your feature request solves**
It would be good to date timestamp the generation of the PDF / hardcopy report.
**Describe the solution you'd like**
Put a date timestamp on the footer of the report when it is exported to PDF or printed out

**Additional context**
 This is useful for audit purposes, so that the state of the threatmodel is shown at a particular time - often we

[2022-05-05 04:23] lreading commented on #424
Is this an OS-specific type of thing?
On Ubuntu 22.04, the footers in the PDF/Printed report contain the URL and date/time.  I can check other systems at some point. :)
![image](https://user-images.githubusercontent.com/5851985/166863215-8726939e-15e6-433a-a30a-61359b3e4231.png)

The printed report also has a date (no time) on the cover-page:
![image](https://user-images.githubusercontent.com/5851

[2022-05-05 05:37] jgadsden commented on #424
oops, I was looking at the report using the wrong version (1.x) ... it happens :)

I agree, this is already done and nothing further to do

[2022-05-05 05:37] #424 closed

[2022-05-13 17:55] danielpops opened #426 "Support storage backends other than github"
**Describe what problem your feature request solves**
Instead of using github repositories for storage of threat models, I'd like to store them all in an alternative centralized storage mechanism (I have a strong affinity to AWS, so s3 would be my preference)

**Describe the solution you'd like**
Introduce a storage mechanism configuration and support options like which cloud provider (aws, azure,

[2022-05-15 11:50] jgadsden commented on #426
Certainly sounds good to me - are you able to contribute time for this @danielpops (no harm in asking I hope)?

[2022-05-18 13:16] github-itsec-oculavis opened #428 "Undo not fully functional"
**Describe the bug**
While the undo operation works for deleted processes, actors, and data storages, it doesn´t work for arrows (data flows). If you delete one of the aforementioned diagrams which were previously connected with arrows, after "undo", the diagrams will show up again, but the arrows are gone, together with the threats defined for them.
Undo also doesn´t work if you just delete an ar

[2022-05-18 13:25] jgadsden commented on #428
Thanks for finding this @github-itsec-oculavis

@lreading I remember that one of the companies we talked to who were using Threat Dragon a lot,  they  did not like the way the arrows / data-flows were deleted if the diagram component was deleted. I think if we alter that behavious then this may also be corrected?

I can experiment ...

[2022-05-18 15:38] lreading commented on #428
I do remember having that discussion! I think we may have done something a bit custom with the undo feature, and IIRC it works off of the history stack at the graph level.  Related: https://github.com/OWASP/threat-dragon/issues/201

This _might_ have been due to how the data flows that are connected work, as they reference other objects rather than absolute coordinates, and antv handles finding th

[2022-05-19 13:26] github-itsec-oculavis opened #429 "Quick arrow connection between elements"
**Describe what problem your feature request solves**
It allows you to directly connect an element with another by a data flow arrow just by clicking on it.

**Describe the solution you'd like**
It would be nice to have the same feature as in v.1.x, where if you click an element, the selected element shows an (X) and a (>) symbol (upper left part), the last of which (>) lets you connect the select

[2022-05-22 11:04] jgadsden opened #431 "Pipeline action: deploy has stopped working"
**Describe the bug**
The deploy action has stopped working, first noticed on 14th May :
https://github.com/OWASP/threat-dragon/actions/workflows/deploy.yaml

**Expected behaviour**
Deploy action used to work OK, and we need it for our demo on Heroku

**Environment**
 - Version: latest
 - Platform: Desktop App
 - OS: any
 - Browser: any

**To Reproduce**
Merge a commit to the main branch, and obser

[2022-05-23 06:23] jgadsden commented on #431
This is expected, Heroku suffered a breach and have been resetting passwords from 4th May:

"Heroku will start resetting user account passwords today, May 4, 2022, as mentioned in our previous notification. We recommend that you reset your user account password in advance [here](https://id.heroku.com/account/password/reset) and follow the best practices below:

Minimum of 16 characters
Minimum com

[2022-05-23 06:24] jgadsden commented on #431
The breach notification was on 4th April:

"At Salesforce, we understand that the confidentiality, integrity, and availability of your data are vital to your business, and we take the protection of your data very seriously. We value transparency and wanted to notify you of an incident we're actively investigating that may lead to unauthorized access to your GitHub repositories connected to Heroku.

[2022-05-23 14:52] lreading commented on #431
Whoops! I had reset my password but overlooked the API key part.  I'll fix this today. :smile: Thanks for bringing it up!  I'm only getting notified on GH action failures when it's related to a specific commit/push I've done, I'm not getting notified on the scheduled ones.  I'll have to look into that as well.

[2022-05-23 14:54] jgadsden commented on #431
Thanks @lreading - it has only recently become an issue, and the demo + docs is still good

[2022-05-23 15:23] lreading commented on #431
I regenerated the API key and updated the repo secret, working again. :smile:

https://github.com/OWASP/threat-dragon/runs/6557902601?check_suite_focus=true

[2022-05-23 15:23] #431 closed

[2022-05-30 21:00] #393 closed

[2022-05-31 05:33] jgadsden opened #434 "CI: possible expired token for docker deploy"
**Describe the bug**
during the build_docker_image action of the deploy workflow we get error:
[code]
**Expected behaviour**
it seems that the username + token is no longer accepted from `deploy.yaml`:
[code]

**Environment**
 - Version: 2.0
 - Platform: any
 - OS: any
 - Browser: any

**To Reproduce**
rerun build_docker_image action

**Any additional context, screenshots, etc**

[2022-05-31 20:24] jgadsden commented on #434
The action is now working again without any changes, so this must have been a temporary problem with DockerHub:
https://github.com/OWASP/threat-dragon/actions/runs/2412905244

[2022-06-06 13:28] jgadsden opened #435 "Trivy: update node version in Docker"
**Describe what problem your feature request solves**
The node version is reported as 16.4.2 in our docker image/container:
[code]

**Describe the solution you'd like**
[code]

**Additional context**
Trivy is complaining about the node version

Note that when the node version is updated we may be able to remove an ignore from `.trivyignore`:
[code]

[2022-06-07 13:56] dzablo opened #436 "Can't print reports"
**Describe the bug**
When I try to "print" the report, the app crash.
here is the test JSON file
[test.json.log](https://github.com/OWASP/threat-dragon/files/8853741/test.json.log)

**Expected behaviour**
I should be able to "print" the report.

**Environment**
 - Version: 2.0
 - Platform: Desktop App
 - OS: Linux
 - Browser: chrome

**To Reproduce**
1. Create a new report
2. Click the report
3. C

[2022-06-11 17:21] pdxjohnny opened #437 "Schema committed to repo as JSON schema"
**Describe what problem your feature request solves**

Would like to be able to validate conformity of serialized threat models using standard tooling (JSON schema validation).

**Describe the solution you'd like**

If there could be a `docs/development/schema/owasp.threat-dragon.schema.json` would be great, then we could do validation.

**Additional context**

The Open Architecture Working Group

[2022-06-16 19:25] AlamosJ opened #438 "Error occurs when converting between TMT thread model to OWASP model"
When running the ConvertTMT2TD.py script a list index out of range error occurs and the TMT file cannot be converted.

**Expected behaviour**
The TMT file should be converted to OWASP's json format.

**Environment**
 - Version: 1.6
 - Platform: Desktop app
 - OS: Windows
 - Browser: Chrome

**To Reproduce**
   1. Run the ConvertTMT2TD script
   2. Select a TMT file to convert

**Any additional con

[2022-06-17 16:32] lucasgonze opened #439 "Permissions failure opening Mac desktop app"
1. Download OWASP-Threat-Dragon-1.6.1-mac
2. Unpack
3. Right click and select "open"

Expect: app starts
Actual: "You do not have permission to open the application"

<img width="248" alt="image" src="https://user-images.githubusercontent.com/111581/174339276-40243a6c-3127-4379-936d-718c5ca4a640.png">

4.  Open Terminal. Use command "open <path to .app directory>"
5. Get error with diagnostic info

[2022-06-26 07:40] jgadsden commented on #439
Hello @lucasgonze

Apologies for not responding sooner, I was on vacation in a place without internet (hard to find, but they still exist :)

It looks like your MacOS has a security policy that  does not allow the zip archive to run directly, which is the case for the majority (but not all) MacOS these days. Can you try the installer [OWASP-Threat-Dragon-1.6.1.dmg](https://github.com/OWASP/threat-

[2022-06-26 07:56] jgadsden commented on #438
Hello @AlamosJ

Many thanks for reporting this and even better providing a fix.

I have applied your change in commits:
* V2.x: https://github.com/OWASP/threat-dragon/commit/33f2cfa681629c5198693e483ff0f25eeab49048
* V1.x: https://github.com/OWASP/threat-dragon/commit/6541f89620b485dfaae5d90858aaa57e28bb9d65

Thanks again!

[2022-06-26 08:22] jgadsden commented on #439
Raised Docs issue : https://github.com/threatdragon/threatdragon.github.io/issues/35

[2022-06-26 08:26] jgadsden commented on #437
Hello @pdxjohnny

Apologies for not responding sooner, I was on vacation in a place without internet (hard to find, but they still exist :)

This looks a good addition  to Threat Dragon, and it is great that Threat Dragon is among the first you would like to  target.

Do you have a solution that you would like to see, a suggested `owasp.threat-dragon.schema.json` ?

[2022-06-26 12:23] pdxjohnny commented on #437
Hey no worries at all hope you had fun!

Yes, that would be a perfect filename. Our goal is to have the filename include both the format name and format version, this way we can validate contents with the schema respective to its version. When releases are tagged we’ll be able to grab the version from the tagged raw URL to the schema file.

[2022-06-26 13:35] lucasgonze commented on #439
Jon, thanks for this guidance. I will try again, using the DMG.

[2022-06-27 14:11] jgadsden commented on #429
Many thanks @github-itsec-oculavis - it would be good to have this back in version 2.0
We had a bit of problem with grabbing some types diagram elements, but @lreading has sorted this out and we may be able to reinstate this feature

[2022-06-27 14:13] jgadsden commented on #410
Thanks @jeronomy - will keep an eye on this one, we are still developing version 2.0 so it may not be a problem in the future
If you see it happen again then it would be great to have the steps to reproduce 👍🏾

[2022-06-27 14:15] jgadsden commented on #409
Thanks again for the good bug report @jeronomy
I am working on this feature - save of models - so I can assign this to myself  and see how I get on

[2022-06-27 14:44] stevespringett opened #440 "Add support for consuming and generating Open Threat Model (OTM)"
Hello. I'd like to be able to both consume and generate OTM from Threat Dragon. On the consumption side, I'd like to be able to open an otm file directly. On the generation side, I'd like to be able to save models in otm format.

The [Open Threat Model](https://github.com/iriusrisk/OpenThreatModel) format is still early in development, but its goals are to standardize how data from threat models a

[2022-06-28 20:43] jgadsden commented on #440
Hello @stevespringett , the OPen Threat Model looks an excellent initiative.

The way we see it working is that Threat Dragon could read files in either format, and save in both formats. Typical Threat Dragon models are not large, it is a quick and accessible tool, so this could work well

[2022-07-05 16:06] jgadsden opened #442 "Replace veux with pinia"
**Describe what problem your feature request solves**
[Vuex](https://vuex.vuejs.org/) is now in maintenance mode. It still works, but will no longer receive new features. It is recommended to use Pinia for new applications.

**Describe the solution you'd like**
Replace Veux with Pinia

**Additional context**
https://vuejs.org/guide/scaling-up/state-management.html#pinia

[2022-07-05 16:15] jgadsden opened #443 "Replace Vue CLI with Vite"
**Describe what problem your feature request solves**
[Vue CLI](https://cli.vuejs.org/) is the official webpack-based toolchain for Vue. It is now in maintenance mode and ideally should be replaced with [Vite](https://vitejs.dev/) which will provide superior developer experience in most cases.

**Describe the solution you'd like**
Replace Vue CLI with Vite

**Additional context**
https://vuejs.org

[2022-07-05 16:32] jgadsden opened #444 "Migrate to Vue 3"
**Describe what problem your feature request solves**
Vue 3 is the current, latest major version of Vue. It contains new features that are not present in Vue 2 (most notably Composition API), and also contains breaking changes that makes it incompatible with Vue 2.
In general, Vue 3 provides smaller bundle sizes, better performance, better scalability, and better TypeScript / IDE support. If  star

[2022-07-09 07:18] jgadsden opened #446 "reinstate codecov"
**Describe what problem your feature request solves**
codecov has moved away from bash scripts, so the [codecov npm package](https://www.npmjs.com/package/codecov) has [been deprecated](https://about.codecov.io/blog/codecov-uploader-deprecation-plan/). This means codecov is no longer working in our CI pipeline

**Describe the solution you'd like**
Apply [codecov’s new uploader](https://about.codec

[2022-07-10 08:59] jgadsden opened #447 "reinstate codecov for CI pipeline"
**Describe the bug**
The Threatdragon CI stage for codecov has had to [disabled for now](https://github.com/OWASP/threat-dragon/pull/445/commits/ce2f87be7c2f289c1b5e322cc809acf999998829), via the 'codecov' line in package.json

**Expected behaviour**
Codecov should be working without the failure described

**Environment**
 - Version: 2.0.0
 - Platform: both Web App and Desktop App
 - OS: NA
 - Bro

[2022-07-11 10:07] jgadsden commented on #439
I have updated the [wiki to include this]( https://github.com/OWASP/threat-dragon/wiki/FAQs#why-do-i-get-permissions-failure-opening-mac-desktop-app-when-installing-from-the-zip-file) and have also have [updated the documentation](https://github.com/threatdragon/threatdragon.github.io/edit/main/public/pages/install/install-desktop.markdown)

[2022-07-11 10:07] #439 closed

[2022-07-11 10:11] jgadsden commented on #428
In addition a user reports "_Undo button does not undo deletion of objects. This is a big deal because objects are too easy to remove accidentally._
_If it is too hard to undo deletion, perhaps an “are you really sure” button would help with accidental deletes?_"

[2022-07-11 10:32] jgadsden opened #448 "Threat type applied at Diagram Level or Project Level"
**Describe what problem your feature request solves**
At present the threat type (STRIDE/LINDDUN/CIA) can be applied at Threat Level. Feedback from user is "_Why do I select Model Type (STRIDE/LINDDUN/CIA) for each threat? I can hardly see people combining multiple methodologies in one model, so methodology should be selected on the level of diagram or even a model. Also, picking STRIDE for a 100

[2022-07-11 11:13] jgadsden opened #449 "Unique and non-reusable ID# for each threat"
**Describe what problem your feature request solves**
It would be good to refer to threats by an ID number, to aid auditing

**Describe the solution you'd like**
Apply a unique threat number to each threat when created,  that should not be able to  be edited. This should be unique and not reused when the threat is deleted

**Additional context**

User feedback "_want unique object / threat id, eve

[2022-07-11 12:26] jgadsden opened #450 "Enforce STRIDE by Element for threats"
**Describe what problem your feature request solves**
STRIDE by Element applies rules to various threat diagram components, such that:
[code]

**Describe the solution you'd like**
Enforce STRIDEby Element for all STRIDE type threats

**Additional context**
User feedback "_STRIDE threat types are not filtered by object type – i.e. I can create a spoofing threat for a dataflow_"

[2022-07-11 12:54] jgadsden opened #451 "Qualify NA when applied to threats"
**Describe what problem your feature request solves**
Threats have a property that can be set to NA. This needs a further description field because there may be many reasons for the threat to be not applicable

**Describe the solution you'd like**
Qualify NA when applied to threats

**Additional context**
User feedback "_There are at least two reasons to flag a threat as not applicable – either th

[2022-07-11 13:11] jgadsden opened #452 "Allow change in ratio for Actors and Stores"
**Describe what problem your feature request solves**
Actors and Data Stores may have short or long names that would look best with a change in ratio + size

**Describe the solution you'd like**
Ratio should be fixed only for processes, so that Actors and Stores can change shape while still be rectangles

**Additional context**
User feedback "_External Actors and Datastores, it would be lovely to

[2022-07-11 13:16] jgadsden opened #453 "Disable 'New Threat' for out of scope components"
**Describe the bug**
Out of scope components can have a threat created for them, which should not be allowed

**Expected behaviour**
Disable 'New Threat' for out of scope components

**Environment**
 - Version: 2.0
 - Platform: both Web App and Desktop App
 - OS:  any MacOS / Windows / Linux
 - Browser: any

**To Reproduce**

1. Create a threat diagram component
2. make it out of scope
3. add thre

[2022-07-11 13:19] jgadsden opened #454 "Provide text Search and Replace"
**Describe what problem your feature request solves**
Sometimes there is a lot of renaming to be done on a threat project, for example if the namespace changes

**Describe the solution you'd like**
Provide text 'Search and Replace' functionality to the Text Search feature

**Additional context**
User feedback "_a mass replace functionality in addition to search. Because renamings happen_"

[2022-07-11 13:57] jgadsden opened #455 "Provide an Apply button for diagram component properties"
**Describe what problem your feature request solves**
any changes to the properties of a component do not seem to be applied immediately, only seemingly applied on change of focus

**Describe the solution you'd like**
Provide an Apply button for diagram component properties

**Additional context**
User feedback "_For objects, the Properties window needs an Apply button or something. I have to clic

[2022-07-11 14:01] jgadsden opened #456 "Radio buttons for threat status"
**Describe what problem your feature request solves**
The status for threats is via a dropdown, and in version 1.x it is via radio buttons. Radio buttons may be easier to use for only 3 options

**Describe the solution you'd like**
Provide radio buttons for threat status

**Additional context**
User feedback "_For threats, wish Status was a button as it is in 1.x – easier to select than open a pul

[2022-07-11 14:06] jgadsden opened #457 "Modify Enclosed Trust Boundary to allow selection of enclosed components"
**Describe the bug**
Enclosed Trust Boundary disables selection of enclosed components

**Expected behaviour**
Modify Enclosed Trust Boundary to allow selection of enclosed components

**Environment**
 - Version: 2.0
 - Platform: both Web App / Desktop App
 - OS: all of MacOS / Windows / Linux
 - Browser: any chrome, firefox, safari

**To Reproduce**

1. create a diagram with some components
2. cr

[2022-07-11 14:13] jgadsden opened #458 "View multiple diagrams"
**Describe what problem your feature request solves**
Some projects have more than one diagram, but only one can be viewed at any one time

**Describe the solution you'd like**
provide ability to view multiple diagrams at the same time

**Additional context**
User request "_Can I open multiple diagrams in their own windows so that I can see them side by side? We have up to 4 diagrams_"

[2022-07-11 14:17] jgadsden opened #459 "add moveable labels for data flows and trust boundaries"
**Describe what problem your feature request solves**
The labels for data flows and trust boundaries can not be moved, and may conflict on the diagram

**Describe the solution you'd like**
Ability to move the data flow and trust boundary labels, as they may coincide

**Additional context**
User feedback "_Labels for flows and boundaries are not movable, for example it can be not clear whether the

[2022-07-11 14:38] jgadsden opened #460 "Modify 'Delete All' function or location"
**Describe what problem your feature request solves**
the 'Delete All' is a very destructive function, and can be mistakenly applied. This is especially severe given the lack of an 'Undo'

**Describe the solution you'd like**
Either provide an undo function or provide a confirmation dialog before deleting all components from the diagram

**Additional context**
User recommendation "_Recommend movin

[2022-07-11 14:42] jgadsden opened #461 "PDF report sections and ToC"
**Describe what problem your feature request solves**
It can be difficult to find the diagrams in reports with multiple diagrams

**Describe the solution you'd like**
Provide sections and a Table of Contents for the diagrams in the PDF report
This requires the use of package [pdf-lib](https://pdf-lib.js.org/) if understood correctly

**Additional context**
User feedback "_Would be great to have PD

[2022-07-11 14:48] jgadsden opened #462 "Movement of dataflows does not detach from component"
**Describe what problem your feature request solves**
It is difficult at times to move a dataflow - it can become detached from a component it was previously attached to

**Describe the solution you'd like**
Movement of dataflows should not detach the dataflow from any component

**Additional context**
User feedback "_Selection of a dataflow by clicking on the arrow often causes dataflows to be mo

[2022-07-11 14:51] jgadsden opened #463 "Warn when dataflows dangle"
**Describe what problem your feature request solves**
A dataflow needs to be connected at both ends, otherwise it does not make sense

**Describe the solution you'd like**
The dataflow colour or shape should signify that the dataflow is not connected at both ends

**Additional context**
User request "_There should be visual identification for dataflows that are not connected to objects on one or m

[2022-07-11 15:00] jgadsden opened #464 "Arrows disappear on some dataflows"
**Describe the bug**
Arrows disappear on some dataflows

**Expected behaviour**
Arrows always should be present on  all dataflows

**Environment**
 - Version: 2.0
 - Platform: both Web App / Desktop App
 - OS: all of MacOS / Windows / Linux
 - Browser: any, chrome, firefox, safari

**To Reproduce**
Not yet reproducible

**Any additional context, screenshots, etc**
User reports "_Arrows disappear o

[2022-07-11 15:07] jgadsden opened #465 "Auto generate threat title"
**Describe what problem your feature request solves**
Version 2.x auto generated threats do not fill in the title text, and this text is left blank

**Describe the solution you'd like**
Auto generated threats for version 2.x should include the functionality in version 1.x and have a generic title filled in automatically: for example "Generic spoofing threat"

**Additional context**
User requests "

[2022-08-05 01:44] gassara-kys opened #468 "multiple-line description support"
**Describe the bug**

If we have written a multi-line `High level system description`, it will be rendered on a single line in the model and report screens.

**Expected behaviour**

To be rendered in multiple lines in the above screens

**Environment**
 - Version: 2.0.0 (e.g. 1.3.1)
 - Platform: Web App (Web App / Desktop App)
 - OS: MacOS (MacOS / Windows / Linux)
 - Browser: chrome (e.g. chrome,

[2022-08-05 07:40] jgadsden commented on #468
Thanks @gassara-kys for finding this. We have multi-line descriptions in 1.x, so it should be relatively straight forward to reinstate this for version 2.0
I have marked it as a priority for version 2.0

[2022-08-05 09:43] jgadsden opened #470 "Docker hub login failing"
**Describe the bug**
The build_docker_image pipeline job fails at the Login to Docker Hub stage:

[code]

**Expected behaviour**
This is the yaml code

[code]

probably the DOCKERHUB_TOKEN needs refreshing?

**Environment**
 - Version: main branch
 - Platform: any
 - OS: any
 - Browser: any

**To Reproduce**
See pipeline results: https://github.com/OWASP/threat-dragon/runs/7687274812?check_suite_f

[2022-08-05 09:53] jgadsden opened #471 "Sometimes fail to install geckodriver on windows platform"
**Describe the bug**
On windows platform there is a report of unable to `pnpm install` on the main branch.

**Expected behaviour**
pnpm installation should succeed  under the main branch

**Environment**
 - Version: main branch
 - Platform: both Web App / Desktop App
 - OS:  Windows
 - Browser: any

**To Reproduce**
This does not seem to be for all installations, and is not reproduced for MacOS an

[2022-08-05 09:54] jgadsden commented on #471
Successful on MacOS and Linux, eg:

[code]

[2022-08-05 15:16] jgadsden opened #472 "Rate limiting making e2e tests fail"
**Describe the bug**
The rate limiting is throttling the end to end tests, making them fail. For example:
[code]

**Expected behaviour**
Rate limiting should be lax or absent during tests

**Environment**
 - Version: main
 - Platform: any
 - OS: any
 - Browser: any

**To Reproduce**
This may not happen every time, but see
https://github.com/OWASP/threat-dragon/runs/7693889317?check_suite_focus=tru

[2022-08-05 18:04] #472 closed

[2022-08-08 06:05] jgadsden commented on #470
This turns out to not be an issue, closing

[2022-08-08 06:05] #470 closed

[2022-08-08 06:55] #468 closed

[2022-08-08 07:21] taoyiyang1 commented on #471
I removed it from package.json, will this work? @jgadsden

[2022-08-08 08:17] jgadsden commented on #471
Hello @taoyiyang1 , we would prefer to keep geckodriver in the packages used for TD front-end. I have updated the main branch to use geckodriver version 3.0.2, could you pull this change and try installing again?

With a bit of luck this may cure the problem

[2022-08-09 02:05] taoyiyang1 commented on #471
All problems are solved, many package installations have to use a VPN, China has too many restrictions @jgadsden

[2022-08-09 05:49] jgadsden commented on #471
Thanks for finding out what the problem is @taoyiyang1
I will update the documentation to suggest using a VPN if there are problems installing

[2022-08-09 10:01] jgadsden opened #476 "Need to bind to port 8080 in development mode"
**Describe the bug**
assumption that vue is on port 8080 in development mode,when in fact it may be on another port, eg 3001

**Expected behaviour**
bind to port 8080 in development mode

**Environment**
 - Version: version 2.x
 - Platform: Web App
 - OS: any
 - Browser: any

**To Reproduce**
use `NODE_ENV=development` environment
observe that Vue may use port 3000, 3001, etc
run various OAuth tes

[2022-08-09 11:57] jgadsden commented on #471
I have added a FAQ in the Threat Dragon wiki : https://github.com/OWASP/threat-dragon/wiki/FAQs#failures-when-installing-from-source-code

[2022-08-09 11:57] #471 closed

[2022-08-09 12:27] jgadsden commented on #476
Fixed in pull request #477

[2022-08-09 12:27] #476 closed

[2022-08-09 12:29] #438 closed

[2022-08-09 12:32] Rets66 commented on #468
There are some related issues.

I inputed the text to `Discription` and `Mitigations` like as follows:
- Discription
  <img width="1959" alt="スクリーンショット 2022-08-09 21 23 59" src="https://user-images.githubusercontent.com/17017861/183646762-0d512008-10fd-4bf0-b366-a23f89008c74.png">
- Mitigation
  <img width="787" alt="スクリーンショット 2022-08-09 21 24 22" src="https://user-images.githubusercontent.com/170

[2022-08-10 10:44] jgadsden opened #481 "Provide timeouts / reporting for login failures"
**Describe what problem your feature request solves**
If there is a problem logging in, specifically the 'Login with Github', then either a blank dashboard page is presented to the user, or a constantly spinning wait

**Describe the solution you'd like**
If the login fails, present the user with an error message and return to the homepage

**Additional context**
When canceling login to github:
<im

[2022-08-12 13:28] jgadsden commented on #411
Using [WebdriverIO Electron Service](https://webdriver.io/docs/wdio-electron-service/) service for testing the Electron desktop application

[2022-08-13 06:25] jgadsden commented on #343
This has also been reported by one of our customers in #457

[2022-08-13 21:23] jgadsden opened #487 "Modify Enclosed Trust Boundary to allow change in aspect ratio"
**Describe what problem your feature request solves**
At present the Enclosed Trust Boundary can not change its aspect ratio

**Describe the solution you'd like**
It would be good to change the ratio arbitrarily

**Additional context**

[2022-08-17 10:07] codingchili commented on #410
similar issue with the report -> export pdf on desktop 1.6.1, the file browser doesn't trigger and the user gets stuck in the "document-preview view" on Windows 10, works on another box with Windows 11. No errors logged in the console.

[2022-08-18 11:43] jgadsden commented on #225
Decided to use electron/[update-electron-app](https://github.com/electron/update-electron-app)

[2022-08-18 12:50] #225 closed

[2022-08-20 05:22] jgadsden opened #493 "console.log redirected to log file"
**Describe what problem your feature request solves**
We have some places where the console is used to log messages, which do not appear in the log file

**Describe the solution you'd like**
It would be good to make sure that all console.log messages also appear in the log file. This has been done for electron logs, so would be good for server and vue logs

**Additional context**
At the same time

[2022-08-21 13:47] #465 closed

[2022-08-22 10:25] jgadsden opened #495 "ability to add contributors to the model"
**Describe what problem your feature request solves**
At the moment the UI does not provide for adding contributors

**Describe the solution you'd like**
Provide similar functionality to version 1.x

**Additional context**

[2022-08-23 05:36] jgadsden commented on #413
I have applied some translations to the dropdown menu. These still need to be applied dynamically, probably using technique here: https://phrase.com/blog/posts/building-an-electron-app-with-internationalization-i18n/#Adding_The_Menu

[2022-08-24 07:08] jgadsden commented on #411
Workingthrough this tutorial, spectron no longer supports the chrome browser used by electron - so spectron is definitely not to be used. This explains the erros when running the existing test (which is skipped for now)

[2022-08-26 03:22] AG4GitHub opened #497 "Convert json file to graphic, e.g. svg"
**Describe what problem your feature request solves**

for external reprorts, discussion and presentation, it would be great to export or edit the model as a graphic.
**Describe the solution you'd like**
Hi,
Is the a way to convert the json file in a graphic, best scalable format?
**Additional context**

Is there a plan to add export format, so that the models can be edited externally?

thanks for

[2022-08-26 04:54] jgadsden commented on #497
Hello Andreas, could you describe what you want in more detail? Do you want just the diagram as a graphic?

We have the pdf output for the report, but this has all the wording attached.

[2022-08-28 20:36] #450 closed

[2022-08-31 06:26] #411 closed

[2022-08-31 06:40] jgadsden commented on #332
Pull request #498 provides the threat engine according to Type / Element. Closing this issue and raising another one for OWASP Automated Threats by property

[2022-08-31 06:40] #332 closed

[2022-08-31 06:43] jgadsden opened #501 "provide OATs (OWASP Automated Threats) by property"
**Describe what problem your feature request solves**
It would be good to reinstate this feature provided by version 1.x

**Describe the solution you'd like**
Apply OATs according to the property of the diagram element

**Additional context**

[2022-08-31 07:11] jgadsden commented on #448
This has been implemented in #494 , so that the diagram usually has one type only (STRIDE/LINDDUN/CIA) or it can also be 'Generic' which has all threat types

[2022-08-31 07:11] #448 closed

[2022-08-31 07:17] jgadsden commented on #422
Checked that this does not happen for version 2.0 (see https://www.threatdragon.com), and so it is only for 1.x versions and to do with the version of JointJS used.
We are not planning any updates for version 1.x, unless it is a security update, so closing this issue ... I hope that is OK with you @sparticvs

[2022-08-31 07:17] #422 closed

[2022-08-31 07:20] jgadsden commented on #194
Bumping this to version-2.x, as it is an enhancement that can wait till after the release of version 2.0

[2022-08-31 08:03] jgadsden commented on #194
The Search Text box supplied in the left side panel of version 2.0 has been temporarily removed in pull request #502
This can be reapplied once the search feature is fully functional

[2022-08-31 10:32] jgadsden commented on #132
This probably will not make it to the first version 2.0, so moving it to version 2.x

[2022-08-31 10:34] jgadsden commented on #61
It looks like we will not have this in time for version 2.0, so moving it to version 2.x

[2022-08-31 10:37] jgadsden commented on #372
It looks like we will not have this in time for version 2.0, so moving it to version 2.x

[2022-08-31 10:42] jgadsden commented on #216
The diagram area is now working as required in version 2.0 : https://www.threatdragon.com/
So this can now be closed

[2022-08-31 10:42] #216 closed

[2022-08-31 11:34] jgadsden commented on #208
This is a 'Version 1.x only' and not present in version 2.x
Version 1.x is in a maintenance mode where we only apply security related patches, so if it is OK with you @jthDEV we can close this issue

[2022-08-31 11:34] #208 closed

[2022-08-31 11:36] jgadsden commented on #199
It is unlikely we will be able to get this into version 2.0, so I have marked it for the later 2.x version

[2022-09-01 05:03] jgadsden opened #503 "Docs: threat documentation page out of date"
**Describe the bug**
Version 2.0 documentation page at `docs/usage/modeling/threats.md` is out of date

**Expected behaviour**
Needs updating before release

**Environment**
 - Version: 2.0, 2.x
 - Platform: both Web App / Desktop App
 - OS: all MacOS / Windows / Linux
 - Browser: any chrome, firefox, safari

**To Reproduce**
visit : https://www.threatdragon.com/docs/usage/modeling/threats.html

*

[2022-09-01 05:51] gmaran23 opened #505 "Cannot import a model in the new version"
**Describe the bug**
An existing model that was created in [https://www.threatdragon.com](https://www.threatdragon.com) does not load anymore using the "Import via JSON" function

**Expected behaviour**
The model should get imported, a diagram should be available, a list of threat should also me made available

**Environment**
 - Version: (unsure - but this model used to load in threatdragom.com a

[2022-09-01 07:06] #456 closed

[2022-09-01 08:12] jgadsden commented on #505
Hello @gmaran23 - thanks for the bug report. We are working in this general area with #409 and #383 , so this is a useful test to see if we get it right
At the moment we flag a warning that version 2.0 may be compatible with version 1.x files ... but we hope that when it is released as version 2.0 we will have the compatibility in place

[2022-09-01 08:33] gmaran23 commented on #505
Thank you for responding soon.

For the moment, would you advise that I redraw the diagram and annotate with threats using the current version live at https://www.threatdragon.com/?

I am asking because if there is a future change that 'may' break the new diagrams that I am planing to draw in a couple of days, then I would hold, and try with a newer version when it is out.

[2022-09-01 09:53] jgadsden commented on #505
Personally I would _not yet use_ version 2.0 for any existing threat models. I would wait for version 2.0 to be released and stable, at that point we would hope that it is fully compatible with version 1.x
At the moment I am still using version 1.6.1 for all my threat models, because version 2.0 models are subject to change

[2022-09-02 13:55] gmaran23 commented on #505
Thank @jgadsden for your response. I will try with the 1.6.1, and keep you posted.

[2022-09-03 06:43] jgadsden commented on #457
The Z index value for components can be altered using `.setZIndex()` or `.toBack()`, see https://x6.antv.vision/en/docs/api/model/cell#getzindex

[2022-09-04 19:46] jgadsden commented on #437
beginning work on this because is it will help with  Threat Dragon version 2.0 backward compatibility with version 1.x models

The schema format definition at `docs/development/schema.md` should follow the schema shown in the [Open Threat Model](https://github.com/iriusrisk/OpenThreatModel/blob/main/README.md) github project.

[2022-09-04 21:22] jgadsden commented on #437
Hello @pdxjohnny
Just checking what you need from Threat Dragon. We have the following, which one did you need?

1. [Docs type markdown](https://github.com/OWASP/threat-dragon/blob/add-schema/docs/development/schema.md) (in progress)
2. [JSON schema definition](https://github.com/OWASP/threat-dragon/blob/add-schema/threat-dragon.schema.json) (in progress)
3. Various existing threat models, [for ex

[2022-09-05 03:04] pdxjohnny commented on #437
(2) was the original intent of this issue’s scope.

Thank you!

[2022-09-05 05:01] jgadsden commented on #437
Cool, thanks @pdxjohnny  - will work on this schema as and the `.md` docs can follow in their own time
Once the pull request is ready I will put you down as a reviewer

[2022-09-06 11:59] jgadsden commented on #437
Hello @pdxjohnny, the the completed json schema is in #508 . Is this looking OK? I have put it all in one 400 line file ... hope that is normal thing to do

[2022-09-06 13:23] pdxjohnny commented on #437
Thank you! It looks great. I’ll run some code today and play around with it and get back to you in the PR to confirm.

[2022-09-07 06:21] jgadsden commented on #505
Hello @gmaran23
I did some more tests, and the JOSN Import feature works if the model is an existing version 2.0, but if it is a version 1.x then it gets stuck as you describe
I think it has been like this for some time - it is throwing a navigation guard error on a version 1.x import:

[code]

[2022-09-07 06:29] jgadsden commented on #505
And then having said all that, I can see from https://gist.github.com/gmaran23/1b87069cc69d1532cfa2a300416ecb11
that you already have a version 2.0 model ... but the schema has changed from using 'version' to use 'tdVersion'

This was probably a bad change - it adds nothing and breaks a lot of stuff ... so it will be reverted
and this means that your version 2.0 files will start working again @gma

[2022-09-07 07:16] jgadsden opened #510 "Apply JSON schema when opening threat models"
**Describe what problem your feature request solves**
It would be good to apply the Threat Dragon json schema to threat models when they are being opened. This couls be an added check - at present we check for valid JSON, but we could also check for valid threat model contents

**Describe the solution you'd like**
When opening a threat model, apply `ajv` to check that it follows the schema

**Addi

[2022-09-07 12:24] kaiyazeera opened #511 "Installation Issue: "Error: Cannot find module 'fs/promises'Installation""
**Describe the bug**
When running the installation , an error is thrown. Installation is not successful.

**Expected behaviour**
Successful installation

**Environment**
 - Version: 2.x
 - Platform: npm version
 - OS: Ubuntu 22.04.1 LTS (jammy)

**To Reproduce**

[code]

**Any additional context, screenshots, etc**

[code]

[2022-09-07 12:29] kaiyazeera commented on #511
The server can be started, though, so it seems to be a minor issue

[2022-09-07 14:16] gmaran23 commented on #505
@jgadsden Thank you very much for the efforts. Appreciate it very much.
I can confirm that the model - https://gist.github.com/gmaran23/1b87069cc69d1532cfa2a300416ecb11 loads well at threatdragon.com.

I will test this out locally and close this issue soon.

[2022-09-07 14:41] jgadsden commented on #511
Thanks for the bug report @kaiyazeera
the postinstall failure is for installing electron builder which is used only for the desktop app, and that is why the server is starting up OK.

The command `pnpm install` does have the _potential_ to install properly, as it worked OK on my Kali dsitribution:

[code]
Could you try again and make sure it is not a network / VPN issue?

[2022-09-07 15:07] jgadsden opened #512 "Can not import version 1.x models using Import JSON feature"
**Describe the bug**
A version 1.x threat model can not be imported using the JSON Import feature on the home page. Version 2.0 threat models can be imported OK

**Expected behaviour**
Paste a version 1.x threat model into the JSON Import text area. Threat model should be accepted OK

**Environment**
 - Version: 2.0
 - Platform: both Web App / Desktop App
 - OS: any MacOS / Windows / Linux
 - Brow

[2022-09-07 15:14] jgadsden commented on #512
This is probably linked to issue #378

[2022-09-07 17:02] kaiyazeera commented on #511
I retried twice, but I cannot reliably exclude its a network/VPN issue.
It does not look like one, though, unless the respective error messages are hidden.

[2022-09-09 08:39] #453 closed

[2022-09-09 08:42] jgadsden commented on #455
Increasing the priority of this because this issue makes the diagramming difficult to use

[2022-09-10 15:19] jabberwock commented on #1
Has this been completed?

[2022-09-10 16:05] jgadsden commented on #1
Hello @jabberwock - this is still on the issue list, but we do not think we can get it in for version 2.0 (which we are working to get done this year). Are you back to using Bitbucket?

[2022-09-10 16:55] jabberwock commented on #1
Hi @jgadsden
I'm new to this thread and yes, we use BitBucket and are looking to use Threat Dragon with it. :) Thank you!

-j

[2022-09-10 20:26] jgadsden commented on #1
Are you able to help with the coding? All contributions are very welcome
I can flag it as a Priority, but at the moment it would be in 2.1 rather than 2.0

[2022-09-10 20:31] #455 closed

[2022-09-10 21:37] jgadsden opened #517 "Initial draw of diagram does not correctly show out of scope components"
**Describe the bug**
When the diagram is opened, the initial draw of the components on the canvas does not show out of scope components with a dashed line

**Expected behaviour**
Out of scope components shoukd always be shown with a dashed lines

**Environment**
 - Version: 2.0
 - Platform: both Web App / Desktop App
 - OS: any MacOS / Windows / Linux
 - Browser: all chrome, firefox, safari

**To

[2022-09-11 05:15] jgadsden commented on #495
This is not a bug - the form does allow the addition of contributors, you just need to start typing
Commit [dfd68b9](https://github.com/OWASP/threat-dragon/commit/dfd68b9425bcddc371b3c587f5638fbe5f39f489) makes this need to start typing more obvious, and closing this issue

[2022-09-11 05:15] #495 closed

[2022-09-11 05:21] #437 closed

[2022-09-11 10:20] jgadsden commented on #512
The navigation guard error is not the cause - it is just a feature of vue-router and can be ignored:
https://stackoverflow.com/questions/62223195/vue-router-uncaught-in-promise-error-redirected-from-login-to-via-a

[2022-09-11 10:23] jgadsden commented on #505
All seems good now, so closing

[2022-09-11 10:23] #505 closed

[2022-09-11 11:45] jgadsden commented on #512
This is a duplicate of #378 "New Threat Model Gets Stuck at v2 Welcome"

[2022-09-11 11:45] #512 closed

[2022-09-12 21:47] #378 closed

[2022-09-13 08:29] jgadsden commented on #436
Hello @dzablo

These are the steps I took to try and reproduce this:

1. clone the repo, install and then run `pnpm run start:desktop`
2. 'Login with local session'
3. 'Import a threat model via JSON'
4. paste the contents of [test.json.log](https://github.com/OWASP/threat-dragon/files/8853741/test.json.log)
5. 'Import'
6. 'Report'
7. 'Print'
8. 'Save as PDF' from 'PDF' pull-down
9. 'Save'

this g

[2022-09-13 11:03] jgadsden commented on #436
Thanks @dzablo
The difference I see in my console output is that you have:
[code]

This looks like `pnpm install` is either out of date or needs to be run again. Could you install again and make sure you are not getting `Could not find a package.json` errors?

[2022-09-13 18:47] jgadsden commented on #356
Hello @romandolinsky - I have had a search through the electron-builder options and there does not seem any way of getting the Uninstall file name into kebab-case; it is always going to have a space in the name
The way to do the uninstall is to use command `'C:\tmp\Uninstall OWASP-Threat-Dragon.exe'` with single quotes, so that the space in the executable name is not a problem

I can add a note in

[2022-09-13 20:56] jgadsden commented on #343
We are OK in general with over-lap of diagram components, because the Actors, Processes and Stores should not be made to overlap on a threat model data-flow diagram.
It is only the trust boundary box that needs to be sent to the background using zIndex = -1, as this boundary box is intended to overlap other components and so will hide them if it is not in the background

[2022-09-13 21:19] #343 closed

[2022-09-13 21:19] #457 closed

[2022-09-14 03:53] jgadsden commented on #460
Decided to move the delete button away from the commonly used buttons, so that it is less likely to be used by mistake
This button is a delete button, rather than a 'delete all' button, whch is a change in functionality from version 1.x threat dragon. The way to delete all is to rubber band across the whole diagram and then delete, which is less likely to be done in error, so no delete confirmatio

[2022-09-14 04:03] #460 closed

[2022-09-14 04:06] jgadsden commented on #429
In pull request https://github.com/OWASP/threat-dragon/pull/394 the magnet attribute was disabled to allow grab of the whole shape
We need to reinstate ability to create data flows by selecting diagram element, possibly using ports, while keeping the ability to grab of the whole shape
X6 has some tutorials on ports, this may give us what we need

[2022-09-14 04:07] jgadsden commented on #395
Closing this as it is a duplicate of #429

[2022-09-14 04:07] #395 closed

[2022-09-14 06:19] jgadsden opened #524 "I18N: add German translation"
**Describe what problem your feature request solves**
It would be good to have the German translation for Threat Dragon

**Describe the solution you'd like**
Modify [translation file](https://github.com/OWASP/threat-dragon/blob/main/td.vue/src/i18n/de.js)

**Additional context**

[2022-09-14 06:21] jgadsden opened #525 "I18N: add Hindi translation"
**Describe what problem your feature request solves**
It would be good to have the Hindi translation for Threat Dragon

**Describe the solution you'd like**
Modify [translation file](https://github.com/OWASP/threat-dragon/blob/main/td.vue/src/i18n/hi.js)

**Additional context**

[2022-09-14 06:22] jgadsden opened #526 "I18N: add Russian translation"
**Describe what problem your feature request solves**
It would be good to have the Russian translation for Threat Dragon

**Describe the solution you'd like**
Modify [translation file](https://github.com/OWASP/threat-dragon/blob/main/td.vue/src/i18n/ru.js)

**Additional context**

[2022-09-14 06:53] jgadsden opened #527 "I18N: update CN/ZH translation file"
**Describe what problem your feature request solves**
As Threat Dragon begins to approach the [release of version 2.0](https://github.com/OWASP/threat-dragon/projects/4), it would be good to update the Chinese translation

**Describe the solution you'd like**
Modify [translation file](https://github.com/OWASP/threat-dragon/blob/main/td.vue/src/i18n/cn.js)

**Additional context**
@taoyiyang1 as you

[2022-09-14 06:56] jgadsden opened #528 "I18N: update EL translation file"
**Describe what problem your feature request solves**
As Threat Dragon begins to approach the [release of version 2.0](https://github.com/OWASP/threat-dragon/projects/4), it would be good to update the Greek translation

**Describe the solution you'd like**
Modify [translation file](https://github.com/OWASP/threat-dragon/blob/main/td.vue/src/i18n/el.js)

**Additional context**
@kostasadriano  as y

[2022-09-14 06:59] jgadsden opened #529 "I18N: update ES translation file"
**Describe what problem your feature request solves**
As Threat Dragon begins to approach the [release of version 2.0](https://github.com/OWASP/threat-dragon/projects/4), it would be good to update the Spanish translation

**Describe the solution you'd like**
Modify [translation file](https://github.com/OWASP/threat-dragon/blob/main/td.vue/src/i18n/es.js)

**Additional context**

[2022-09-14 07:02] jgadsden opened #530 "I18N: update FR translation file"
**Describe what problem your feature request solves**
As Threat Dragon begins to approach the [release of version 2.0](https://github.com/OWASP/threat-dragon/projects/4), it would be good to update the French translation

**Describe the solution you'd like**
Modify [translation file](https://github.com/OWASP/threat-dragon/blob/main/td.vue/src/i18n/fr.js)

**Additional context**
@andk123  as you pr

[2022-09-14 07:04] jgadsden opened #531 "I18N: update PT translation file"
**Describe what problem your feature request solves**
As Threat Dragon begins to approach the [release of version 2.0](https://github.com/OWASP/threat-dragon/projects/4), it would be good to update the Portuguese translation

**Describe the solution you'd like**
Modify [translation file](https://github.com/OWASP/threat-dragon/blob/main/td.vue/src/i18n/pt.js)

**Additional context**

[2022-09-14 14:12] jgadsden commented on #329
@danielpops and @lreading , this may not make in into version 2.0, so labelling it for version 2.x

[2022-09-14 16:34] jgadsden commented on #356
I have added these instructions to the docs page at https://threatdragon.github.io/install-desktop/

[2022-09-14 16:34] #356 closed

[2022-09-14 17:22] andk123 commented on #530
Not at all, it will be my pleasure to do so! I will keep you updated once it's completed.

[2022-09-14 21:04] jgadsden commented on #530
Thanks @andk123 , I have just added `threats.properties.number`, for labelling the threat number and `threats.properties.score` for labelling the custom score into the i18n file

[2022-09-15 08:30] dzablo commented on #436
@jgadsden I still get the error :/

[code]

[2022-09-15 08:37] dzablo commented on #436
I'm pretty sure it is the same issue https://github.com/electron/electron/issues/31151 because when I call `window.print()` in the dev console the issue occurs.

[2022-09-15 09:07] jgadsden commented on #436
Many thanks for investigating @dzablo
What do we want to do here? I do not want to hold up Threat Dragon Version 2.0, as there does not seem to be a fix from electron.
I can tag it Version2.x and wait for a fix from Electron?

[2022-09-15 12:05] dzablo commented on #436
I can tag it Version2.x and wait for a fix from Electron?

I think we can leave it with the tag and wait for the fix, and for the others who have the same problem, I would like to recommend as a workaround to run the `pnpm run start:server` and use your favorite browser :)

[2022-09-15 12:33] jgadsden commented on #525
Decided not to do this, as most (if not all) Hindi speaking engineers can use English version of Threat Dragon

[2022-09-15 12:33] #525 closed

[2022-09-15 12:48] jgadsden commented on #517
This issue is not correct - Threat Dragon does indeed show the out of scope components correctly, example json attached
I was just incorrect :)
[example.txt](https://github.com/OWASP/threat-dragon/files/9575350/example.txt)

[2022-09-15 12:48] #517 closed

[2022-09-16 05:36] jgadsden opened #534 "Migrate to Pinia"
**Describe what problem your feature request solves**
The official state management library for Vue has changed to [Pinia](https://pinia.vuejs.org/).  Vuex 3 and 4 are still being maintained but are unlikely to have new functionalities added

**Describe the solution you'd like**
Upgrade to Pinia from Veux

**Additional context**
See [Pinia home page](https://pinia.vuejs.org/)

[2022-09-19 12:15] #196 closed

[2022-09-19 12:15] #449 closed

[2022-09-22 03:28] andk123 commented on #530
Quite a busy week here, it will be done this weekend :)

[2022-09-22 09:02] jgadsden commented on #530
No hurry at all, thanks @andk123
There is one last major feature that we need for Version 2.0 which I am working on, so it may be early November (at the earliest) that it would be good to have the translations

[2022-09-24 18:08] jgadsden commented on #528
Pull request #528 closes this issue

[2022-09-24 18:08] #528 closed

[2022-09-24 18:12] jgadsden commented on #368
Adopting [JavaScript Standard Style](https://github.com/standard/standard)

[2022-09-24 18:15] jgadsden commented on #534
Duplicate of #442 , closing

[2022-09-24 18:15] #534 closed

[2022-09-25 08:03] #368 closed

[2022-09-25 08:05] jgadsden commented on #511
Keeping this issue **Open** until we can find out what is going wrong, although it may not get resolved for the upcoming version 2.0 release

[2022-09-25 08:19] jgadsden commented on #436
Keeping this issue **Open** until we get a fix from Electron, although it may not get resolved for the upcoming version 2.0 release.  Created [a wiki FAQ](https://github.com/OWASP/threat-dragon/wiki/FAQs#failure-when-printing-a-report) to help

[2022-09-25 16:08] jgadsden commented on #529
I added some translations strings into the i18n file, but my Spanish is not as good as I thought it was, so it is incomplete

[2022-09-26 17:42] jgadsden opened #538 "Github models within a repo are inaccessible"
**Describe the bug**
@Ziconius has identified a problem where some threat models are not shown in the web application, and so can not be accessed.

**Expected behaviour**
When browsing a repo for threat models, all models in the directory tree should be visible and accessible

**Environment**
 - Version: 2.x
 - Platform: Web App only
 - OS:  any
 - Browser: any

**To Reproduce**
* Use the web appl

[2022-09-28 18:52] #413 closed

[2022-10-04 23:02] #530 closed

[2022-10-05 08:30] codingchili opened #543 "Improve "import model" UX with a file dropzone for local session"
**Describe what problem your feature request solves**
The user experience when importing a json file using local session is quite awkward, as it requires users to first open the file in a text editor (or locate it using a file dialog) and then copy-paste the json into the textfield.

**Describe the solution you'd like**
This feature adds dropzone behavior to the textfield, allowing users to simply

[2022-10-05 21:08] jgadsden commented on #409
Partially completed by issue #543 / pull request #542

[2022-10-13 18:18] #543 closed, assigned to codingchili

[2022-10-17 01:03] danielpops opened #547 "Github responses only include 30 repos/branches"
**Describe the bug**
The github api by default only returns 30 items for repos, branches, etc. the threatdragon UI to choose a repo or branch is limited to the first 30 and there is no paging or option to pull the remaining items.

**Expected behaviour**
All items should be returned, or the UI should expose some "next/prev" links to navigate through the pages of results.

**To Reproduce**
Connect

[2022-10-21 14:25] sparticvs commented on #524
@jgadsden I'm looking into this further, I think there is an assumption of English grammar in the structuring here - I'm looking into this further, but we may need to make some other adjustments to get a coherent German translation. I'll likely leave parts of this in English to purely support not needing any UI changes at the moment. I'm not 100% certain at the moment, so I'm still investigating t

[2022-10-22 06:12] jgadsden commented on #361
Another comment from a Threat Dragon user: "I am looking to use Threat Dragon as a tool which will inform risk assessments. I am interested to understand if you are aware iof it is possible to import the MITRE CAPEC "Mechanisms of Attack" methods as a .json file? I understand this may be possible as importing it as a layer, and then on top of this doing the actual threat modelling."

[2022-10-25 19:55] jgadsden commented on #527
thanks for taking this on @yolylight

[2022-10-26 04:41] #527 closed

[2022-10-26 10:36] iman4000 opened #549 "Add open framework base on Threat Modeling Manifesto"
**Describe what problem your feature request solves**
All frameworks have limitations and we have problem with it and this makes us to use multiple frameworks for having all sides and threats. so we decide to follow `Threat Modeling Manifesto` and combine some frameworks.

**Describe the solution you'd like**
Add one more framework beside STRIDE/CIA/LINDDUN like `Manifasto` with principle of [Thre

[2022-10-29 07:03] iman4000 commented on #549
Hello @jgadsden choosing any of these three frameworks is possible right now as I understand correctly!
I want the forth framework which is flexible to put anything I want. let me provide a small example:
one frame work that I can add PASTA and STRIDE perspective for one element together and for another element in my diagram I need to combine OCTAVE and DREAD together....

something like this feat

[2022-10-29 07:42] jgadsden commented on #549
Cool, thanks @iman4000 , I now understand
So if you could add an entirely free-form threat then that would do what you want? You could edit the type etc to whatever text you like?

[2022-10-29 08:43] iman4000 commented on #549
yeah! something like what you said :D
and it has some free-form text fields that we can add our perspectives! maybe we should think about these fields but it is really cool as far as I know 💯

[2022-10-29 09:02] iman4000 commented on #9
will threat dragon 2.0 release this year? and does it have gitlab integration? :)

[2022-11-12 08:57] professorabhay commented on #531
Hey, I am interested to work on this.
Can you plz explain it more?
I am new here but ready to learn.

[2022-11-12 09:53] jgadsden commented on #531
Hello @professorabhay - this is the Portuguese translation file for Threat Dragon version 2.x. Certainly update it if you like:
https://github.com/OWASP/threat-dragon/blob/main/td.vue/src/i18n/pt.js

[2022-11-25 08:30] jgadsden opened #553 "Provide diagram description"
**Describe what problem your feature request solves**
When using multi-diagram threat models, it is not obvious which diagram is which. They have titles but this is the briefest of information

**Describe the solution you'd like**
It would be good to have a short description for each diagram, so that on the main threat model page it is obvious which diagram is associated with which activity.

**Ad

[2022-11-29 07:56] jgadsden commented on #553
Thanks for taking this on @mariuslihet - I will add you as a contributor

[2022-11-29 08:53] mariuslihet commented on #553
It was my pleasure. If you could add me as a contributor I would really appreciate it.
If you need anything else, just let me know!

[2022-11-29 10:11] #553 closed

[2022-11-30 11:14] professorabhay commented on #531
Hey @jgadsden - I want to update all lines of this file which is in English to Portuguese. Or anything else.

[2022-11-30 13:06] jgadsden commented on #531
Hello @professorabhay , please go ahead and translate the English in `pt.js` to Portuguese - many thanks for doig this

[2022-11-30 15:28] professorabhay commented on #531
Hey @jgadsden, I just updated the file and created a pull request.
please review it and let me know if there is any problem in it.
![gitoswap](https://user-images.githubusercontent.com/76243309/204839157-98dcf901-25a9-4dc9-a30e-81bf133e1d51.png)

[2022-11-30 17:12] jgadsden commented on #531
Hello @professorabhay , thanks for the translations. The JSON attributes should not be translated though, just the values, do you want to reinstate them?

[2022-11-30 17:27] professorabhay commented on #531
Yes, I can do !!
I am attaching some images for referral of JSON attributes. I don't have enough knowledge about this 😐
If I am not wrong than are you talking about these.

![again1](https://user-images.githubusercontent.com/76243309/204866484-5fcd4031-b178-48ea-bcfd-0695d80afccc.png)
![again2](https://user-images.githubusercontent.com/76243309/204866491-08f3efbc-25d4-42ef-8640-cacb4af559ef.png)

[2022-11-30 18:16] professorabhay commented on #531
Hello @jgadsden, I just updated again as you want. Please review it!!